<template>
    <a class="button" :href="href" target="_blank">
        <b-icon icon="file-document-box-search"></b-icon>
        <span>Preview Form</span>
    </a>
</template>

<script>
    export default {
        props: {
            previewRoute:String,

        },
        computed: {
            href(){
                return this.previewRoute; // TODO: Add query parameters for a true preview of the form's edited state
            }
        }
    }
</script>