<template>
    <div class="is-relative">
        <b-loading :is-full-page="false" :active="!form && processing"></b-loading>
        <b-tabs v-model="activeTab" type="is-boxed" ref="tabs">
            <b-tab-item label="Form" icon="file-document-box">
                <lf-form-builder-fields-tab v-if="form"></lf-form-builder-fields-tab>
            </b-tab-item>
            <b-tab-item label="Settings" icon="settings">
                <lf-form-builder-settings-tab v-if="form"></lf-form-builder-settings-tab>
            </b-tab-item>
            <b-tab-item label="Notifications" icon="email">
                <lf-form-builder-notifications-tab v-if="form"></lf-form-builder-notifications-tab>
            </b-tab-item>
        </b-tabs>
        <nav class="tabs is-boxed">
            <ul>
                <li v-for="(tab,index) in tabs" :class="{'is-active':activeTab===index}">
                    <a @click="activeTab = index">
                        <b-icon :icon="tab.icon"></b-icon>
                        <span>{{tab.label}}</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="field has-margin-y-size-3">
            <b-notification
                    type="is-info"
                    :active="Boolean(message)"
                    has-icon
                    aria-close-label="Close notification">
                {{message}}
            </b-notification>
            <button class="button is-primary" :disabled="processing" @click="save" :class="{ loading : processing }">{{ submitButtonTitle }}</button>
        </div>
    </div>
</template>

<script>
    import formStore from '@/store/modules/formBuilder';
    import { mapState } from 'vuex';

    export default {
        props: {
            formId:Number,
            formDataUrl:String,
            formSaveUrl:String,
        },
        beforeCreate(){
            this.$store.registerModule('formBuilder',formStore);
        },
        mounted(){
            this.$store.dispatch('formBuilder/load',this.formDataUrl);
        },
        data(){
            return {
                activeTab:0,
            }
        },
        computed: {
            ...mapState('formBuilder',['processing', 'message','form']),
            submitButtonTitle(){
                return 'Save';
            },
            tabs(){
                let resetOn = this.form;
                return _.map(_.get(this.$refs,'tabs.tabItems'),tab=>_.pick(tab,['label','icon']));
            }
        },
        methods: {
            save(){
                this.$store.dispatch('formBuilder/save',this.formSaveUrl);
            },
        }
    }
</script>