<template>
    <div class="file-section files">
        <div class="file" :class="{checked: isChecked(index)}" @click.prevent="addChecked(index, item)" v-for="(item, index) in items">
            <file-image :image="item" v-if="item.image"></file-image>
            
            <div class="file-name">
                {{ info(index, item).basename }}
            </div>
        </div>
    
        <div class="directory no-hover" v-if="items.length <= 0 && !this.loading">
            <p>This folder has no files!</p>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    import listeners from '@/mixins/listeners';
    export default {
        mixins: [listeners],
        listeners() {
            return {
                'set-current-directory': this.setDirectory,
                'reset-checked-files': this.resetChecked,
                'set-loading': this.setLoading,
            }
        },
        data () {
            return {
                items: '',
                current_directory: '',
                checked: [],
                loading: true
            }
        },
        methods: {
            getFiles () {
                axios.post('/admin/file-manager/get-files', {
                    directory: this.current_directory
                })
                .then(response => {
                    this.items = response.data;
                })
            },
            setDirectory (directory) {
                this.current_directory = directory;
    
                this.getFiles();
            },
            addChecked (index, item) {
                if (!this.isChecked(index)) {
                    this.checked.push(index);
                } else {
                    this.checked.splice(this.checked.indexOf(index), 1);
                }

                this.$eventBus.$emit('reset-checked-files', 'directories');
                this.$eventBus.$emit('set-file-controls', this.checked, this.items);
            },
            isChecked (index) {
                return this.checked.indexOf(index) !== -1;
            },
            info (index, info) {
                return info[Object.keys(info)[0]];
            },
            resetChecked (type) {
                if (type === 'files' || type === 'both') {
                    this.checked = [];
                }
            },
            setLoading (loading) {
                this.loading = loading;
            }
        },
    }
</script>