<template>
    <div class="field">
        <label class="label">Value{{valueIsPlural?'s':''}}</label>
        <div class="field is-grouped">
            <lf-form-builder-condition-value-control :field="field" :condition="condition" :value.sync="firstValue"
                     :value-type="singleValueType"></lf-form-builder-condition-value-control>
            <lf-form-builder-condition-value-control v-if="isRange" :field="field" :condition="condition"
                     :value.sync="secondValue" :value-type="singleValueType"></lf-form-builder-condition-value-control>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            field: Object,
            condition: Object,
        },
        computed: {
            conditionValueType(){
                return this.$store.getters['formBuilder/conditionValueType'](this.condition);
            },
            singleValueType(){
                let type = this.conditionValueType;
                if(_.includes(['select[]','text[]'],type)) return type;
                if(_.endsWith(type,'[]')) return type.slice(0,-2);
                if(_.endsWith(type,'[2]')) return type.slice(0,-3);
                return type;
            },
            operation(){
                return this.condition.operation;
            },
            firstValue:{
                get(){
                    if(this.isRange){
                        return this.condition.value[0];
                    } else {
                        return this.condition.value;
                    }
                },
                set(value){
                    if(this.isRange){
                        this.condition.value[0] = value;
                    } else {
                        this.condition.value = value;
                    }
                }
            },
            secondValue: {
                get(){
                    return this.condition.value[1];
                },
                set(value){
                    this.condition.value[1] = value;
                }
            },
            isRange(){
                return _.endsWith(this.conditionValueType,'[2]');
            },
            valueIsPlural(){
                return _.endsWith(this.conditionValueType,']');
            }
        },
    }
</script>