<template>
    <div class="box has-no-margin-bottom">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h3 class="is-size-4">
                        Condition Group
                    </h3>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item" v-if="topLevel">
                    <p class="help">
                        Show this field if these conditions are met.
                    </p>
                </div>
                <div class="level-item" v-else>
                    <button class="delete" @click="removeGroup"></button>
                </div>
            </div>
        </div>
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="field has-addons">
                        <div class="control">
                            <span class="button is-static">
                                <b-icon :icon="groupIcon"></b-icon>
                            </span>
                        </div>
                        <div class="control is-expanded">
                            <div class="select">
                                <select v-model="groupOperator">
                                    <option value="and">All True</option>
                                    <option value="!and">All False</option>
                                    <option value="or">Any True</option>
                                    <option value="!or">Any False</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="buttons">
                        <button class="button is-small is-rounded" @click="addAndGroup">
                            <b-icon icon="plus"></b-icon>
                            <span>Group</span>
                            <b-icon icon="code-parentheses-box"></b-icon>
                        </button>
                        <button class="button is-small is-rounded" @click="addField">
                            <b-icon icon="plus"></b-icon>
                            <span>Field</span>
                            <b-icon icon="alpha-i-box"></b-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <component v-for="condition in item.conditions" :key="condition.id" :is="componentFor(condition)" :item="condition"
                   :field="field" @remove="removeChild(condition)"></component>
    </div>
</template>
<script>
    import {mapMutations} from 'vuex';
    export default {
        props: {
            item:Object,
            field:Object,
            topLevel:Boolean
        },
        computed: {
            groupOperator:{
                get(){
                    return (this.item.not?'!':'')+this.item.operation;
                },
                set(value){
                    this.item.not = value.slice(0,1) === '!';
                    this.item.operation = this.item.not?value.slice(1):value;
                }
            },
            groupIcon(){
                return 'gate-'+(this.item.not?'n':'')+this.item.operation;
            }
        },
        methods: {
            ...mapMutations('formBuilder',['addConditionGroup','addConditionField']),
            componentFor(condition){
                return 'lf-form-builder-condition-'+condition.type;
            },
            addAndGroup(){
                this.addConditionGroup({group:this.item,operation:'and'});
            },
            // addOrGroup(){
            //     this.addConditionGroup({group:this.item,operation:'or'});
            // },
            addField(){
                this.addConditionField(this.item);
            },
            removeGroup(){
                this.$emit('remove');
            },
            removeChild(condition){
                let index = _.findIndex(this.item.conditions,condition);
                if(index > -1){
                    this.item.conditions.splice(index,1);
                }
            }
        }
    }
</script>