<template>
    <div class="control">
        <input class="input" v-if="valueType === 'text'" type="text" v-model="valued">
        <component v-else-if="isDate||isTime" :is="'b-'+valueType+'picker'"
                   :min-date="min" :min-time="min" :max-date="max" :max-time="max"
                   v-model="valued" hour-format="12"
                   placeholder="Click to select..." :icon="isDate?'calendar-today':'clock'">
            <button class="button is-primary"
                    @click="valued = new Date()">
                <b-icon :icon="isDate?'calendar-today':'clock'"></b-icon>
                <span>{{isDate?'Today':'Now'}}</span>
            </button>
            <button class="button is-danger"
                    @click="valued = null">
                <b-icon icon="close"></b-icon>
                <span>Clear</span>
            </button>
        </component>
        <div v-else-if="valueType === 'select'" class="select">
            <select v-model="valued">
                <option v-for="option in field.options" :value="option.id">{{option.name}}</option>
            </select>
        </div>
        <b-dropdown v-else-if="valueType === 'select[]'"
                v-model="valued"
                multiple
                aria-role="list">
            <button class="button" type="button" slot="trigger">
                <span>Selected ({{ valued.length }})</span>
                <b-icon icon="menu-down"></b-icon>
            </button>
            <b-dropdown-item v-for="option in field.options" :key="option.id" :value="option.id" aria-role="listitem">
                <span>{{option.name}}</span>
            </b-dropdown-item>
        </b-dropdown>
        <b-taginput v-else-if="valueType === 'text[]'"
                v-model="valued"
                ellipsis
                icon="label"
                placeholder="Match value,">
        </b-taginput>
    </div>
</template>

<script>
    export default {
        props: ['field','condition','value','valueType','min','max'],
        computed: {
            valued: {
                get(){
                    if(this.value){
                        if(this.isDate){
                            let date = this.value.split('-');
                            return new Date(date[0],date[1]-1,date[2]);
                        } else if (this.isTime){
                            let value = new Date();
                            let time = this.value.split(':');
                            value.setHours(time[0]);
                            value.setMinutes(time[1]);
                            return value;
                        }
                    }
                    return this.value;
                },
                set(value){
                    if(value){
                        const leadingZero = n=>('0'+n).slice(-2);
                        if(this.isTime){
                            value = leadingZero(value.getHours())+':'+leadingZero(value.getMinutes());
                        } else if(this.isDate){
                            value = [value.getFullYear(),leadingZero(value.getMonth()+1),leadingZero(value.getDate())].join('-');
                        }
                    }
                    this.$emit('update:value',value);
                }
            },
            minValue(){
                return this.min === undefined ? false : this.min;
            },
            maxValue(){
                return this.max === undefined ? false : this.max;
            },
            operation(){
                return this.condition.operation;
            },
            isText(){
                return this.valueType === 'text';
            },
            isSelect(){
                return _.startsWith(this.valueType,'select');
            },
            isMultiSelect(){
                return this.valueType === 'select[]';
            },
            isDate(){
                return this.valueType === 'date';
            },
            isTime(){
                return this.valueType === 'time';
            }
        }
    }
</script>