<template>
    <div class="box has-no-margin-bottom">
        <div class="field is-grouped is-grouped-multiline is-relative">
            <button class="delete is-top-right" @click="removeField"></button>
            <div class="field">
                <label class="label" :for="'select_field_'+item.id">Field</label>
                <div class="control">
                    <div class="select">
                        <select :id="'select_field_'+item.id" v-model="fieldName">
                            <option :value="null">- Select -</option>
                            <option value="_date">Current date</option>
                            <option v-for="field in allOtherFields" :value="field.name">{{field.label}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field" v-if="conditionField">
                <label class="label" :for="'select_operation_'+item.id">Operation</label>
                <div class="control">
                    <div class="select">
                        <select :id="'select_operation_'+item.id" v-model="operator">
                            <option v-for="option in operatorOptions" :value="option.value">{{option.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <lf-form-builder-condition-value-field v-if="conditionField && !operatorIsUnary" :field="conditionField"
                                                   :condition="item"></lf-form-builder-condition-value-field>
        </div>
    </div>
</template>
<script>
    import { mapState, mapGetters } from 'vuex';
    export default {
        props: {
            item:Object,
            field:Object,
        },
        computed: {
            ...mapState('formBuilder',['form']),
            ...mapGetters('formBuilder',['allFields','currentDateField']),
            allOtherFields(){
                return _.reject(this.allFields,this.field);
            },
            fieldName:{
                get(){
                    return this.item.fieldName;
                },
                set(value){
                    let oldConditionValueType = this.conditionValueType;
                    this.item.fieldName = value;
                    if(!_.some(this.operatorOptions, {value:this.operator})){
                        console.log(this.operatorOptions);
                        this.operator = _.first(this.operatorOptions).value;
                    }
                    this.resetValueIfNeeded(oldConditionValueType);
                }
            },
            conditionValueType(){
                return this.$store.getters['formBuilder/conditionValueType'](this.item);
            },
            groupTitle(){
                let op = this.item.operation;
                return op.slice(0,1).toUpperCase()+op.slice(1)+' Group';
            },
            groupIcon(){
                return 'gate-'+(this.item.not?'n':'')+this.item.operation;
            },
            conditionField(){
                return this.$store.getters['formBuilder/field'](this.fieldName);
            },
            isNumeric(){
                if(!this.conditionField) return false;
                switch(this.conditionField.type){
                    case 'date':
                    case 'time':
                        return true;
                    case 'text':
                        return this.conditionField.validator === 'numeric';
                    default:
                        return false;
                }
            },
            canBeList(){
                if(!this.field) return false;
                return !_.includes(['date','time'],this.field.type);
            },
            hasFile(){
                return Boolean(this.conditionField) && _.includes(['file','photo'],this.conditionField.type);
            },
            operator: {
                get(){
                    return (this.item.not ? '!' : '') + this.item.operation;
                },
                set(value){
                    let oldConditionValueType = this.conditionValueType;
                    this.item.not = value.slice(0,1)==='!';
                    this.item.operation = this.item.not ? value.slice(1) : value;
                    this.resetValueIfNeeded(oldConditionValueType);
                }
            },
            operatorIsRange(){
                return this.item.operation === 'between';
            },
            operatorIsSelect(){
                return Array.isArray(_.get(this.conditionField,'options',false));
            },
            operatorIsUnary(){
                return this.item.operation === 'empty';
            },
            operatorOptions(){
                let options = [];
                if(!this.conditionField) return options;
                if(!_.includes(['ssn','file','photo'],this.conditionField.type)){
                    if(this.conditionField.type !== 'checkboxes'){
                        options.push(
                            {value:'=',name:'Equals'},
                            {value:'!=',name:'Does not equal'}
                        );
                        if(this.isNumeric){
                            options.push(
                                {value:'<',name:'Less than'},
                                {value:'<=',name:'Less or equal'},
                                {value:'>',name:'Greater than'},
                                {value:'>=',name:'Greater or equal'},
                                {value:'between',name:'Between'},
                                {value:'!between',name:'Not between'},
                            );
                        } else {
                            options.push(
                                {value:'contains',name:'Contains'},
                                {value:'!contains',name:'Does not contain'},
                                // {value:'regex',name:'Regular Expression'},
                                // {value:'!regex',name:'Regular Expression mismatch'},
                                {value:'in',name:'In list'},
                                {value:'!in',name:'Not in list'}
                            );
                        }
                        options.push(
                            {value:'empty',name:'Empty'},
                            {value:'!empty',name:'Not empty'},
                        );
                    } else {
                        options.push(
                            {value:'checked',name:'Checked'},
                            {value:'!checked',name:'Not checked'},
                            {value:'!empty',name:'Any checked'},
                            {value:'empty',name:'None checked'},
                        )
                    }
                } else {
                    options.push(
                        {value:'empty',name:'Empty'},
                        {value:'!empty',name:'Not empty'},
                    );
                }
                return options;
            }
        },
        methods: {
            componentFor(item){
                return 'lf-form-builder-condition-'+item.type;
            },
            removeField(){
                this.$emit('remove');
            },
            resetValueIfNeeded(oldConditionValueType){
                if(this.conditionValueType !== oldConditionValueType){
                    this.resetValue();
                }
            },
            resetValue(){
                if(this.operatorIsRange){
                    this.item.value = [null,null];
                } else if(this.operatorIsSelect || this.conditionValueType === 'text[]'){
                    this.item.value = [];
                } else {
                    this.item.value = null;
                }
            },
        }
    }
</script>