<template>
    <div class="component-control-bar" :class="{'is-fixed-control-bar':topScrolledOff}" :style="controlBarStyle">
        <slot></slot>
    </div>
</template>

<script>
    import ResizeStore from '@/store/modules/resize';

    export default {
        beforeCreate(){
            if(!this.$store.state['resize']){
                this.$store.registerModule('resize',ResizeStore);
            }
        },
        mounted(){
            this.$store.dispatch('resize/startScrollMonitor');
            if(this.parentElement()){
                this.$store.dispatch('resize/observe',[this.parentElement(),this.$el]);
            }
        },
        beforeDestroy(){
            this.$store.dispatch('resize/unobserve',[this.parentElement(),this.$el]);
        },
        computed: {
            parentSize(){
                return this.$store.getters['resize/elementSize'](this.parentElement());
            },
            navSize(){
                return this.$store.getters['resize/navSize'] || 0;
            },
            controlBarSize(){
                return _.tap(this.$store.getters['resize/elementSize'](this.$el)||{fix:true},el=>el.fix?console.log('missing control bar size',this.$el):_.noop());
            },
            topScrolledOff(){
                if(this.$store.state.resize.scroll.position === null || !this.parentElement()) return false;
                let bounds = this.parentElement().getBoundingClientRect();
                return (bounds.top - this.controlBarSize.height)
                    < (this.navSize.height || 100) &&
                    bounds.bottom > this.navSize.height;
            },
            controlBarStyle(){
                if(this.topScrolledOff){
                    // let elSize = this.$store.getters['resize/elementSize'](this.$el);
                    // let navSize = this.$store.getters['resize/navSize'];
                    // console.log('controlBarStyle',elSize,navSize,elSize.width,navSize.height);
                    // if(elSize && elSize.width && navSize && navSize.height && controlBarSize && controlBarSize.height){
                    return {
                        width:this.parentSize.width+'px',
                        top:this.navSize.height+'px',
                    };
                    // }
                }
                return '';
            }
        },
        methods: {
            parentElement(){
                return this.$parent.$el;
            },
        }
    }
</script>