<template>
    <form @submit.prevent="saveImageOptions" class="columns has-margin-y-size-4">
        <div class="column">
            <div class="field">
                <label class="label" for="imageOptionMaxWidth">Width</label>
                <div class="control">
                    <div class="select">
                        <select id="imageOptionMaxWidth" v-model="width" class="input">
                            <option value="">Original image size (if smaller than content area)</option>
                            <option value="is-fullwidth">Fullwidth</option>
                            <option value="is-half">Half width on desktop</option>
                            <option value="is-quarter">¼ width desktop / ½ width mobile</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field" v-if="width !== 'is-fullwidth'">
                <label class="label">Position</label>
                <div class="field has-addons">
                    <div class="control">
                        <label class="button" :class="{'is-primary':position === 'is-pulled-left'}">
                            <input type="radio" class="is-sr-only" name="image_position" value="is-pulled-left" v-model="position"> <span>Float left</span>
                        </label>
                    </div>
                    <div class="control">
                        <label class="button" :class="{'is-primary':position === ''}">
                            <input type="radio" class="is-sr-only" name="image_position" value="" v-model="position"> <span>Auto</span>
                        </label>
                    </div>
                    <div class="control">
                        <label class="button" :class="{'is-primary':position === 'is-pulled-right'}">
                            <input type="radio" class="is-sr-only" name="image_position" value="is-pulled-right" v-model="position"> <span>Float right</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="field" v-if="isContent">
                <label class="label" for="imageOptionAlt">Alt Text</label>
                <div class="control">
                    <input id="imageOptionAlt" class="input" :class="isContent && !altText ? 'is-danger' : ''" v-model="altText">
                </div>
                <p class="help">Alt text is text content to use in place of the image, for when the file fails to load or the page is viewed with a screen reader.
                    If the image is <em>purely decorative</em> you can leave the Alt text empty.
                </p>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary">Confirm</button>
                </div>
                <div class="control">
                    <button class="button is-danger" type="button" @click="close"><b-icon icon="cancel"></b-icon> <span>Cancel</span></button>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <img ref="image" :src="src" :alt="altText" class="image" :class="classes">
                <span style="font-size:0.5em">Example text layout. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eleifend sapien tortor, et tempor diam mattis id. Vivamus feugiat leo sed magna iaculis, nec mollis sem molestie. Vestibulum et risus eget libero lobortis scelerisque. Cras iaculis magna nec bibendum dignissim. Pellentesque tempor orci felis, nec consectetur nunc bibendum sit amet. Integer malesuada gravida lectus volutpat mattis. Praesent interdum ac ex sed lobortis. Vivamus vel sagittis erat.</span>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        props: ['image'],
        data(){
            let wrapper = document.createElement('div');
            wrapper.innerHTML = this.image;
            let image = wrapper.firstChild;
            let src = image.src;
            if(_.startsWith(src,location.origin)) src = src.slice(location.origin.length);

            return {
                src,
                imageRole: 'content', //image?'content':'decoration',
                heightOverWidth: wrapper.dataset.heightOverWidth || null,
                altText: image.alt,
                width: _.intersection(image.classList,['is-half','is-quarter','is-fullwidth'])[0] || '',
                position: _.intersection(image.classList,['is-pulled-left','is-pulled-right'])[0] || '',
                imageLoader: new Image(),
            }
        },
        mounted() {
            this.imageLoader.onload = ()=>this.parseImageSize();
            this.imageLoader.src = this.src;
        },
        computed: {
            isContent(){
                return this.imageRole === 'content';
            },
            isDecoration(){
                return this.imageRole === 'decoration';
            },
            classes(){
                let classes = [];
                if(this.isDecoration) classes.push('is-decorative');
                if(this.width) classes.push(this.width);
                if(this.position) classes.push(this.position);
                return classes.join(' ');
            }
        },
        methods: {
            saveImageOptions(){
                this.$emit('update:image',this.$refs.image.outerHTML);
            },
            parseImageSize(){
                this.heightOverWidth = this.imageLoader.naturalHeight / this.imageLoader.naturalWidth;
            },
            close(){
                this.$emit('close');
            }
        },
    }
</script>