<template>
    <div class="modal-card" style="width: auto">
        <header class="modal-card-head">
            <p class="modal-card-title">HTML Source</p>
        </header>
        <section class="modal-card-body content-source">
            <textarea class="textarea" v-model="textArea"></textarea>
        </section>
        <footer class="modal-card-foot">
            <button class="button" type="button" @click="$parent.close()">Cancel</button>
            <button class="button is-primary" @click="updateText">OK</button>
        </footer>
    </div>
</template>

<script>
    export default {
        props: ['text'],
        data(){
            return {
                modifiedText: null
            }
        },
        computed: {
            textArea: {
                get(){
                    return this.modifiedText === null ? this.text : this.modifiedText;
                },
                set(value){
                    this.modifiedText = value;
                }
            },
        },
        methods: {
            updateText(){
                this.$emit('update:text',this.textArea);
                this.modifiedText = null;
            }
        },
    }
</script>