<template>
    <div class="is-relative has-control-bar larafish-editable-area" :class="elementClasses">
        <lf-control-bar class="is-flex is-flex-space-between" :occupy-space="alwaysShowControlBar">
            <span>
                <span v-if="editable">
                    <button type="button" class="button" @click="sourceOpen = true">
                        <b-icon icon="code-tags" size="is-small"></b-icon>
                        <span>Source</span>
                    </button>
                    <button type="button" class="button" @click="beginInsertImage" title="Add an image">
                        <b-icon icon="image-plus"></b-icon>
                    </button>
                    <button type="button" class="button" @click="beginInsertHtml" title="Insert HTML">
                        <b-icon icon="code-tags"></b-icon>
                    </button>
                </span>
            </span>
            <span>
                <slot name="controlbar"></slot>
            </span>
        </lf-control-bar>
        <div class="lf-searchable" ref="editableArea" @dblclick="selectImage">
            <slot>
                <p ref="genericSlot"></p>
            </slot>
        </div>
        <div ref="bindToBody" class="larafish-component">
            <b-modal :active.sync="modalOpen" has-modal-card :full-screen="sourceOpen||fileSelectionMode">
                <lf-content-area-source v-if="sourceOpen" :text.sync='sourceText'></lf-content-area-source>
                <div v-else class="modal-card" style="width: auto">
                    <header class="modal-card-head">
                        <p class="modal-card-title">{{modalTitle}}</p>
                    </header>
                    <section class="modal-card-body content-source">
                        <lf-content-area-image-options v-if="imageSettingsMode" :image="editingImage.html" @update:image="confirmImageSettings" @close="modalOpen=false"></lf-content-area-image-options>
                        <lf-file-manager select select-image select-multiple :uploads="uploads" v-else-if="fileSelectionMode" @selected="imagesSelected"></lf-file-manager>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button" type="button" @click="modalOpen = false">Cancel</button>
                    </footer>
                </div>
            </b-modal>
        </div>
    </div>
</template>

<script>
    import MediumEditor from 'medium-editor';
    import { Settings } from '@/medium/contentArea';

    const MODE_CLOSED = null;
    const MODE_IMAGE_SETTINGS = 'image_settings';
    const MODE_FILE_BROWSER = 'file_browser';
    const MODE_EDIT_SOURCE = 'edit_source';
    export default {
        props: {
            editable:Boolean,
            changed:Boolean,
            content:String,
            noOutline:Boolean,
            gettingSearchContent:Boolean,
            alwaysShowControlBar:Boolean,
            settings:{
                type:Object,
                default(){
                    return Settings;
                }
            }
        },
        data(){
            let mediumSettings = _.cloneDeep(this.settings);
            let imageOptions = _.get(mediumSettings,'extensions.imageOptions');
            if(imageOptions){
                mediumSettings.extensions.imageOptions = new imageOptions({
                    handleClick:()=>this.openImageSettings(),
                })
            }
            return {
                mediumSettings,
                localEdit: false,
                editor: null,
                modalMode: MODE_CLOSED,
                uploads: null,
                editingImage: {
                    element:null,
                    html: null,
                },
                fileDrop: [],
                editTimeout: null,
            }
        },
        mounted(){
            this.editor = new MediumEditor(this.$refs.editableArea,this.mediumSettings);
            if(this.$refs.genericSlot) this.editor.setContent(this.content);
            if(this.editable) this.subscribe();
            else this.editor.destroy();
            document.body.appendChild(this.$refs.bindToBody);
        },
        watch: {
            content(newValue,oldValue){
                if(this.editor){
                    let editorWasInactive = !this.editor.isActive;
                    if(editorWasInactive) this.editor.setup();
                    if(newValue !== this.editor.getContent()) this.editor.setContent(newValue);
                    if(editorWasInactive) this.editor.destroy();
                }
            },
            editable(newValue,oldValue){
                if(this.editor){
                    if(newValue){
                        this.editor.setup();
                        this.subscribe();
                    } else {
                        this.editor.destroy();
                    }
                }
            }
        },
        computed: {
            sourceOpen: {
                get(){
                    return this.modalMode === MODE_EDIT_SOURCE;
                },
                set(value){
                    if(value && this.modalMode === MODE_CLOSED) this.modalMode = MODE_EDIT_SOURCE;
                    else if (!value) this.modalOpen = false;
                }
            },
            modalTitle(){
                switch(this.modalMode){
                    case MODE_FILE_BROWSER:
                        return 'File Selection';
                    case MODE_IMAGE_SETTINGS:
                        return 'Image Settings';
                    case MODE_EDIT_SOURCE:
                        return 'Image Settings';
                    default:
                        return '';
                }
            },
            modalOpen: {
                get(){return this.modalMode !== MODE_CLOSED;},
                set(value){
                    if(!value && this.modalMode !== MODE_CLOSED) this.modalMode = MODE_CLOSED;
                }
            },
            imageSettingsMode:{
                get(){return this.modalMode === MODE_IMAGE_SETTINGS;},
                set(value){
                    if(value && this.modalMode === MODE_CLOSED) this.modalMode = MODE_IMAGE_SETTINGS;
                    else if (!value) this.modalOpen = false;
                }
            },
            fileSelectionMode:{
                get(){return this.modalMode === MODE_FILE_BROWSER;},
                set(value){
                    if(value && this.modalMode === MODE_CLOSED) this.modalMode = MODE_FILE_BROWSER;
                    else if (!value) this.modalOpen = false;
                }
            },
            text:{
                get(){
                    return this.content || '';
                },
                set(newValue,oldValue){
                    this.$emit('update:content',newValue);
                }
            },
            sourceText:{
                get(){
                    return this.text;
                },
                set(value){
                    this.text = value;
                    this.sourceOpen = false;
                }
            },
            elementClasses(){
                return this.noOutline ? {} : {
                    'is-larafish-editable':this.editable,
                    'is-editable':this.editable,
                    'has-larafish-changes':this.changed,
                    'has-changes':this.changed,
                    'show-control-bar':this.alwaysShowControlBar,
                }
            }
        },
        methods: {
            subscribe(){
                this.editor.subscribe('editableDrop', this.editableDrop);
                this.editor.subscribe('editableInput', this.editableInput);
            },
            editableDrop(event){
                if(process.env.NODE_ENV==='development') console.log('editableDrop',event,this.editor.getContent());
                let files = [...event.dataTransfer.files];
                if(files){
                    this.fileDrop.push(...files);
                    if(this.$store.state.page.page.permissions.canUploadPublicImages){
                        this.uploads = files;
                        this.fileSelectionMode = true;
                    } else {
                        console.log(files);
                        this.$buefy.snackbar.open({
                            message: "You don't have have permission to upload public images.",
                            type: 'is-warning',
                            position: 'is-top',
                            indefinite: false,
                        })
                    }
                    setTimeout(()=>this.editor.getContent !== this.content?this.resetContent():_.noop(),250);
                }
            },
            beginInsertImage(){
                this.fileSelectionMode = true;
            },
            beginInsertHtml(){
                this.$buefy.dialog.prompt({
                    message: `Paste HTML block`,
                    inputAttrs: {
                        placeholder: 'e.g. <iframe src="what://ever">',
                        required:true
                    },
                    trapFocus: true,
                    onConfirm: (value) => {
                        // validate HTML
                        let wrapper = document.createElement('div');
                        wrapper.innerHTML = value;
                        // insert
                        this.insertHTML(wrapper.innerHTML);
                    }
                })
            },
            setEditor(editor){
                this.editor = editor;
            },
            resetContent(){
                let selection = this.editor.exportSelection();
                this.editor.setContent(this.content);
                this.editor.importSelection(selection);
            },
            editableInput(event){
                if(process.env.NODE_ENV==='development') console.log('editableInput',{...event},event.isTrusted||false,this.editor.getContent(),this.fileDrop.length);
                if(this.fileDrop.length){
                    if(event.isTrusted) {
                        this.fileDrop = [];
                    } else {
                        this.setEditTimeout();
                        // this.$emit('update:content',this.editor.getContent());
                    }
                } else {
                    this.setEditTimeout();
                    // this.$emit('update:content',this.editor.getContent());
                }
            },
            setEditTimeout(){
                if(this.editor.getContent() !== this.content){
                    if(this.editTimeout) {
                        clearTimeout(this.editTimeout);
                        this.editTimeout = null;
                    }
                    const timeout = this.editTimeout = setTimeout(()=>{
                        if(this.editTimeout === timeout){
                            this.$emit('update:content',this.editor.getContent());
                        }
                    },300);
                }
            },
            selectImage({target}){
                if(this.editable && target instanceof Image){
                    let selection = document.getSelection();
                    let range = document.createRange();
                    range.selectNode(target);
                    selection.removeAllRanges();
                    selection.addRange(range);
                }
            },
            imagesSelected(files){
                this.fileSelectionMode = false;
                this.insertImages(_.map(files,file=>_.startsWith(file.url,window.location.origin+'/')?file.url.slice(window.location.origin.length):file.url));
            },
            insertImages(files){
                let fileHtml = _.map(files,file=>'<img src="'+file+'" class="image">').join('');
                this.insertHTML(fileHtml,html=>'<p>'+html+'</p>');
            },
            insertHTML(html,wrapperFunction = null){
                if(this.editor.exportSelection() === null){
                    this.text += wrapperFunction ? wrapperFunction(html) : html;
                } else {
                    this.editor.pasteHTML(html);
                }
            },
            openImageSettings(){
                console.log('openImageSettings');
                let image = this.editor.getSelectedParentElement();
                if(image && image instanceof Image){
                    this.editingImage.element = image;
                    console.log(image,this.editingImage);
                    this.editingImage.html = this.editingImage.element.outerHTML;
                    this.imageSettingsMode = true;
                }
            },
            confirmImageSettings(imageWrapper){
                this.imageSettingsMode = false;
                this.editingImage.element.outerHTML = imageWrapper;
                this.editingImage = {
                    element:null,
                    html:null,
                };
                this.$nextTick(()=>this.editor.checkSelection());
            }
        },
    }
</script>