<template>
    <lf-editable-area :changed="changed" :content.sync="content" :editable="editable"></lf-editable-area>
</template>

<script>
    export default {
        props: {
            rowIndex: Number,
            columnIndex: Number,
            cell: Object,
            editable: Boolean,
            component:Object
        },
        computed: {
            changed(){
                return _.get(this.component,'editing.'+this.editKey+'.changed',false);
            },
            editKey(){
                return 'tableCell'+this._uid+' '+this.rowIndex+' '+this.columnIndex;
            },
            content: {
                get(){return this.cell.contents;},
                set(value){
                    console.log(this.editKey, value);
                    this.$emit('update:content',value);
                    this.$emit('edit',{[this.editKey]:{
                        changed: !_.isEqual(this.component.data.rows[this.rowIndex][this.columnIndex], this.component.originalData.rows[this.rowIndex][this.columnIndex])
                    }})
                }
            }
        }
    }
</script>