<template>
    <div class="content-area staff-component is-flex is-relative has-margin-bottom-size-5">
        <div class="is-top-right">
            <button class="button is-primary has-margin-right-size-5" v-if="!editing" @click="startEditing">
                <b-icon icon="pencil"></b-icon>
                <span>Edit</span>
            </button>
        </div>
        <div class="has-margin-right-size-5 flex-no-shrink" style="max-width:100px">
            <img class="is-fullwidth" :src="editing ? editPerson.imageUrl : person.imageUrl">
            <button v-if="editing" class="button is-primary" @click="selectImage">
                <b-icon icon="image"></b-icon>
                <span>Select</span>
            </button>
        </div>

        <template v-if="!editing">
            <div class="has-margin-right-size-5 profile-details flex-grow">
                <h3>{{ person.name }}</h3>
                <b>{{ person.title }}</b><br>
                <b v-show="person.department">{{ person.department }}<br></b>
                <p v-html="person.bio" v-if="person.bio" style="white-space: pre-wrap"></p>
                <template v-if="person.phone">{{ person.phone }}<br></template>
                <template v-if="person.email"><a class="text-bank-dark-green"
                                                 :href="'mailto:'+person.email">{{ person.email }}</a></template>
                <template v-if="person.long_bio">
                    <br>
                    <p @click="openBio = !openBio" class="button">Bio</p>
                    <micro-modal :open.sync="openBio" size="half">
                        <template v-slot:header>Full Bio</template>
                        <div class="has-margin-top-size-4">
                            {{ person.long_bio }}
                        </div>
                    </micro-modal>
                </template>

            </div>
        </template>
        <template v-else>
            <div class="container">
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label" :for="id('name')">
                            Name
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input :id="id('name')" class="input" v-model="editPerson.name">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label" :for="id('title')">
                            Title
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input :id="id('title')" class="input" v-model="editPerson.title">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label" :for="id('department')">
                            Department
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input :id="id('department')" class="input" v-model="editPerson.department">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label" :for="id('phone')">
                            Phone
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input :id="id('phone')" class="input" v-model="editPerson.phone">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label" :for="id('email')">
                            Email
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input type="email" :id="id('email')" class="input" v-model="editPerson.email">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label" :for="id('bio')">
                            Bio
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <textarea :id="id('bio')" class="textarea" v-model="editPerson.bio"
                                          maxlength="560"></textarea>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label" :for="id('bio')">
                            Long Bio
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <textarea :id="id('long_bio')" class="textarea" v-model="editPerson.long_bio"
                                          maxlength="560"></textarea>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label" :for="id('altText')">
                            Profile Image Alt Text
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input type="email" :id="id('altText')" class="input" v-model="editPerson.altText">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label"></div>
                    <div class="field-body">
                        <div class="buttons">
                            <button class="button is-primary" @click="update">Confirm</button>
                            <button class="button is-warning" @click="cancel">Cancel</button>
                            <button class="button is-danger" @click="remove" v-if="!isNew">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
import scopedId from "@/mixins/scopedId";

export default {
    mixins: [scopedId],
    props: {
        person: Object,
        new: Boolean
    },
    data() {
        return {
            editing: this.new || false,
            editPerson: this.new ? {...this.person} : null,
            openBio: false,
        }
    },
    computed: {
        isNew() {
            return this.new;
        },
    },
    methods: {
        startEditing() {
            this.editPerson = {...this.person};
            this.editing = true;
        },
        update() {
            this.editing = false;
            this.$emit('update:person', this.editPerson);
            this.editPerson = null;
        },
        cancel() {
            this.editing = false;
            this.editPerson = null;
            this.$emit('cancel');
        },
        remove() {
            this.$emit('remove');
        },
        selectImage() {
            this.$emit('selectImage', url => this.setPersonImage(url));
        },
        setPersonImage(path) {
            console.log('setPersonImage', path, this.editPerson);
            this.editPerson.imageUrl = path;
        }
    }
}
</script>
