<template>
    <table class="table is-fullwidth is-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th></th>
        </tr>
        </thead>
        <draggable tag="tbody" v-model="footerLinks" group="links" @start="drag=true" @end="onMove">
        <tr v-for="link in footerLinks" class="cursor-pointer">
            <td>{{ link.title }}</td>
            <td v-html="link.content"></td>
            <td>
                <div class="buttons is-right">
                    <a class="button is-primary is-small is-family-primary" :href="'/admin/footer-links/' + link.id + '/edit'">
                        <span class="icon"><i class="mdi mdi-bookmark mdi-16-px"></i></span>
                        <span>Edit</span>
                    </a>
                </div>
            </td>
        </tr>
        <tr v-if="!footerLinks.length"><td colspan="2" class="has-text-centered"><h2>No Footer Links found</h2></td></tr>
        </draggable>
    </table>
</template>
<script>
    import draggable from 'vuedraggable';
    import { SnackbarProgrammatic as Snackbar } from 'buefy';
    export default {
        components: {draggable,},
        props: {
            links: {
                type: Array,
                default: []
            }
        },
        data() {
            return {
                footerLinks: []
            }
        },
        methods: {
            onMove() {
                axios.post('/admin/footer-links/sort', {links: this.footerLinks})
                    .then((data) => {
                        if(data.data.success) {
                            Snackbar.open({
                                message: 'Footer Links Sort Order Changed!',
                                type: 'is-success',
                                position: 'is-top',
                                indefinite: false,
                            });
                        }
                    })
                    .catch(error => {
                        Snackbar.open({
                            message: 'Something went wrong with sorting!',
                            type: 'is-danger',
                            position: 'is-top',
                            indefinite: false,
                        });
                        console.log(error);
                    })
            }
        },
        mounted() {
            this.footerLinks = this.links;
        }
    }
</script>