<template>
    <div>
        <div class="field is-grouped is-flex-space-between">
            <div class="field has-addons has-no-margin-bottom" v-if="!displayControl">
<!--                <div class="control">-->
<!--                    <button class="button" v-if="anyCheckedCanMove">-->
<!--                        <b-icon icon="file-move"></b-icon>-->
<!--                        <span>Move</span>-->
<!--                    </button>-->
<!--                </div>-->
                <div class="control">
                    <button class="button" v-if="anyCheckedCanDelete && !selecting" @click="deleteSelected">
                        <b-icon icon="file-remove"></b-icon>
                        <span>Delete</span>
                    </button>
                </div>
                <div class="control">
                    <button class="button" v-if="oneCheckedCanRename" @click="isRenaming = true" :class="{'is-loading':renameLoading}" :disabled="renameLoading">
                        <b-icon icon="rename-box"></b-icon>
                        <span>Rename</span>
                    </button>
                </div>
                <div class="control">
                    <button class="button" v-if="anyCheckedCanMakePublic" @click="setSelectedVisibility('public')">
                        <b-icon icon="lock-open"></b-icon>
                        <span>Make public</span>
                    </button>
                </div>
                <div class="control">
                    <button class="button" v-if="anyCheckedCanMakePrivate && !selecting" @click="setSelectedVisibility('private')">
                        <b-icon icon="lock"></b-icon>
                        <span>Make private</span>
                    </button>
                </div>
                <div class="control">
                    <button class="button" v-if="oneCheckedFolder" @click="openFolder">
                        <b-icon icon="folder-open"></b-icon>
                        <span>Open</span>
                    </button>
                </div>
                <div class="control">
                    <a v-if="oneCheckedFile && !selecting" :href="oneCheckedUrl+'?download'" class="button">
                        <b-icon icon="download"></b-icon>
                        <span>Download</span>
                    </a>
                </div>
                <div class="control">
                    <button class="button" v-if="oneCheckedImage" @click="isViewModelOpen = true">
                        <b-icon icon="image-frame"></b-icon>
                        <span>View</span>
                    </button>
                </div>
                <div class="control">
                    <a :href="oneCheckedUrl" class="button" v-if="oneCheckedFile" target="_blank">
                        <b-icon icon="open-in-new"></b-icon>
                        <span>Open</span>
                    </a>
                </div>
                <div class="control">
                    <button class="button" v-if="checkedSelectable" @click="selectChecked">
                        <b-icon icon="image-area-close"></b-icon>
                        <span>Select</span>
                    </button>
                </div>
            </div>
            <div class="field has-addons" :class="{'is-expanded':!!displayControl}" v-if="(canUploadFiles || canCreateFolders) && displayRightSideControls">
                <lf-file-upload-control v-if="canUploadFiles && displayControl !== 'createFolder'"></lf-file-upload-control>
                <lf-create-directory-control v-if="canCreateFolders && displayControl !== 'upload'"></lf-create-directory-control>
            </div>
            <form v-if="isRenaming" class="field has-addons is-expanded" @submit.prevent="rename">
                <div class="control is-expanded">
                    <input class="input" ref="renameTo" v-model="renameToSpecial">
                </div>
                <div class="control">
                    <button class="button" type="submit" :class="{'is-loading':renameLoading}" :disabled="renameLoading">
                        <b-icon icon="rename-box"></b-icon>
                        <span>Rename</span>
                    </button>
                </div>
                <div class="control">
                    <button class="button" type="reset" @click="isRenaming = false">
                        <b-icon icon="cancel"></b-icon> <span>Cancel</span>
                    </button>
                </div>
            </form>
<!--            <div v-if="displayControl === 'move'" class="field has-addons">-->
<!--                <div class="control">-->
<!--                    <button class="button">-->
<!--                        move-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <b-modal :active.sync="isViewModelOpen">
            <p class="has-text-centered">
                <img :src="viewImage" style="border: 1px solid white;">
            </p>
        </b-modal>
    </div>
</template>

<script>
    import {mapState,mapGetters,mapMutations,mapActions} from 'vuex';
    export default {
        props: {
            select: {
                type: Object,
                default: null,
            },
        },
        data(){
            return {
                renameTo: '',
                viewImage: null,
            }
        },
        computed: {
            ...mapState('files',{
                files:state=>state.files,
                folders:state=>state.folders,
                openControl:state=>state.openControl,
                renameLoading:state=>state.renaming,
                canCreateFolders:state=>state.permissions.createIn,
                canUploadFiles:state=>state.permissions.uploadTo||state.permissions.uploadImagesTo
            }),
            ...mapGetters('files',[
                'checked'
            ]),
            oneCheckedFilePath(){
                return this.oneCheckedFile ? this.checked[0].path : null;
            },
            oneCheckedUrl(){
                return this.oneCheckedFile ? this.checked[0].url : null;
            },
            isViewModelOpen:{
                get(){
                    return this.viewImage !== null;
                },
                set(value){
                    if(value) {
                        if(this.oneCheckedImage) this.viewImage = this.checked[0].url;
                    } else {
                        this.viewImage = null;
                    }
                }
            },
            renameToSpecial:{
                get(){
                    return this.renameTo;
                },
                set(value){
                    this.renameTo = _.replace(value,/^\.|[\/\\?%*:|"<>\s]|[^\x00-\x7F]/g,'_'); // replace invalid characters with underscores live
                }
            },
            displayControl:{
                get(){
                    if(['rename','move','delete','createFolder','upload'].includes(this.openControl)) return this.openControl;
                    return false;
                },
                ...mapMutations('files',{
                    set: 'setOpenControl'
                }),
            },
            displayRightSideControls(){
                return ['createFolder','upload',false].includes(this.displayControl);
            },
            isRenaming: {
                get(){
                    return this.displayControl === 'rename';
                },
                set(value){
                    if(value){
                        this.displayControl = 'rename';
                        this.renameToSpecial = this.checked[0].name;
                        this.$nextTick(()=>{
                            this.$refs.renameTo.focus();
                            let lastDot = this.renameTo.lastIndexOf('.');
                            if(lastDot === -1){
                                this.$refs.renameTo.select();
                            } else {
                                this.$refs.renameTo.setSelectionRange(0,lastDot);
                            }
                        });
                    } else {
                        this.displayControl = '';
                    }
                }
            },
            anyCheckedCanMove(){
                return this.anyCheckedCan('move');
            },
            anyCheckedCanMakePublic(){
                return _.some(this.checked,node=>node.permissions.makePublic && node.visibility !== 'public');
            },
            anyCheckedCanMakePrivate(){
                return _.some(this.checked,node=>node.permissions.move && node.visibility !== 'private');
            },
            anyCheckedCanDelete(){
                return this.anyCheckedCan('delete');
            },
            oneCheckedCanRename(){
                return this.oneCheckedCan('rename');
            },
            oneCheckedFolder(){
                return this.oneCheckedIs('folder');
            },
            oneCheckedFile(){
                return this.oneCheckedIs('file');
            },
            oneCheckedImage(){
                return this.oneCheckedFile && _.startsWith(this.checked[0].mimeType,'image/');
            },
            oneCheckedPublic(){
                return this.oneCheckedFile && this.checked[0].visibility === 'public';
            },
            checkedSelectable(){
                return this.selecting &&
                    this.checked.length > 0 &&
                    (this.select.multiple || this.checked.length === 1) &&
                    _.every(this.checked,{type:'file'}) &&
                    (!this.select.image || _.every(this.checked,checked=>_.startsWith(checked.mimeType,'image/'))) &&
                    (this.select.private || _.every(this.checked,{visibility:'public'}))
                ;
            },
            selecting(){
                return this.select !== null;
            }
        },
        methods:{
            ...mapActions('files',[
                'deleteSelected',
            ]),
            ...mapActions('files',[
                'renameSelected'
            ]),
            rename(){
                this.renameSelected(this.renameTo);
            },
            anyCheckedCan(permission){
                return _.some(this.checked,node=>node.permissions[permission]);
            },
            oneCheckedCan(permission){
                return this.checked.length === 1 && this.checked[0].permissions[permission];
            },
            oneCheckedIs(type){
                return this.checked.length === 1 && this.checked[0].type === type;
            },
            openFolder(){
                this.$store.dispatch('files/loadFolder',this.checked[0].path);
            },
            setSelectedVisibility(visibility){
                this.$store.dispatch('files/setVisibility',visibility);
            },
            selectChecked(){
                if(this.checkedSelectable) this.$emit('selected',this.checked);
            }
        }
    }
</script>