<template>
    <div class="field" :class="{'is-expanded':open}">
        <div class="field has-no-margin-right has-no-margin-bottom" v-if="!open">
            <div class="control">
                <button title="Create Folder" class="button" @click="openUp" :disabled="creating" :class="{'is-loading':creating}">
                    <b-icon icon="folder-plus"></b-icon><span>Create Folder</span>
                </button>
            </div>
        </div>
        <form class="field has-addons is-expanded" @submit.prevent="createFolder" :class="{'is-hidden':!open}">
            <div class="control is-expanded">
                <input type="text" class="input" :class="{'is-danger':folderNameInvalid}" :disabled="creating" placeholder="Folder Name" v-model="folderName" ref="folderName" pattern="[a-zA-Z0-9\-_]+">
            </div>
            <div class="control">
                <button class="button" :disabled="folderNameInvalid || creating" :class="{'is-loading':creating}" type="submit">
                    <b-icon icon="folder-plus"></b-icon>
                    <span>Create</span>
                </button>
            </div>
            <div class="control">
                <button class="button" type="reset" :disabled="creating"  @click.prevent="close">
                    <b-icon icon="cancel"></b-icon>
                    <span>Cancel</span>
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                folderName: '',
            }
        },
        computed: {
            open: {
                get(){
                    return this.$store.state.files.openControl === 'createFolder';
                },
                set(value){
                    if(value){
                        this.$store.commit('files/setOpenControl','createFolder');
                    } else if(this.open) {
                        this.$store.commit('files/setOpenControl');
                    }
                }
            },
            folderNameEmpty(){
                return !this.folderName;
            },
            folderNameInvalid(){
                // let recalculateOnTextChange = this.folderName;
                return !this.folderNameEmpty && !this.$refs.folderName.checkValidity();
            },
            creating(){
                return this.$store.state.files.creatingFolder;
            }
        },
        methods: {
            openUp(){
                this.open = true;
                this.$nextTick(()=>this.$refs.folderName.focus())
            },
            close(){
                this.open = false;
                this.folderName = '';
            },
            createFolder () {
                this.$store.dispatch('files/createFolder',this.folderName);
                this.folderName = '';
            },
        },
    }
</script>