<template>
    <div :class="{'is-flexible-size':open}">
        <label for="fileSelector" :class="{'is-hidden':open}" class="button" @click="open=true">
<!--            @click="openUp"-->
            <b-icon icon="upload-multiple"></b-icon><span>Upload File(s)</span>
        </label>
        <form @submit.prevent="upload" class="field has-addons is-expanded" :class="{'is-hidden':!open}" ref="uploadForm">
            <div class="control is-expanded">
                <input ref="fileSelector" id="fileSelector" type="file" class="input" multiple :accept="accept">
            </div>
            <div class="control">
                <label class="button" :class="willUploadPublic?'':'is-warning'" :disabled="!uploadPublicTo">
                    <input type="radio" name="visibility" value="private" v-model="uploadVisibility" class="is-sr-only">
                    <b-icon icon="lock"></b-icon> <span>Private</span>
                </label>
            </div>
            <div class="control" v-if="uploadPublicTo">
                <label class="button" :class="willUploadPublic?'is-success':''">
                    <input type="radio" name="visibility" value="public" v-model="uploadVisibility" class="is-sr-only">
                    <b-icon icon="lock-open"></b-icon> <span>Public</span>
                </label>
            </div>
            <div class="control">
                <button class="button">
                    <b-icon icon="upload-multiple"></b-icon> <span>Upload</span>
                </button>
            </div>
            <div class="control">
                <button class="button" type="reset" @click="open = false"><b-icon icon="cancel"></b-icon> <span>Cancel</span></button>
            </div>
        </form>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    export default {
        data(){
            return {
                visibility: null,
            }
        },
        computed:{
            ...mapState('files',{
                uploadTo:state=>state.permissions.uploadTo,
                uploadImagesTo:state=>state.permissions.uploadImagesTo,
                uploadPublicTo:state=>state.permissions.uploadPublicTo,
                openControl:state=>state.openControl,
            }),
            uploadVisibility:{
                get(){
                    if(!this.uploadPublicTo) return 'private';
                    if(this.visibility === null) this.visibility = this.uploadPublicTo?'public':'private';
                    return this.visibility;
                },
                set(value){
                    let allowed = ['private'];
                    if(this.uploadPublicTo) allowed.push('public');
                    if(allowed.includes(value)) this.visibility = value;
                }
            },
            willUploadPublic:{
                get(){
                    return this.visibility === 'public';
                },
                set(value){
                    this.uploadVisibility = value?'public':'private';
                }
            },
            open: {
                get(){
                    return this.openControl === 'upload';
                },
                set(value){
                    if(value){
                        this.$store.commit('files/setOpenControl','upload');
                    } else if(this.open) {
                        this.$store.commit('files/setOpenControl','');
                        this.$refs.uploadForm.reset();
                    }
                }
            },

            accept(){
                if(this.uploadImagesTo && !this.uploadTo){
                    return '.jpeg, .png, .bmp, .gif, .svg, .webp, image/*'
                }
                return false;
            }
        },
        methods: {
            upload () {
                let files = this.$refs.fileSelector.files;
                if(files.length){
                    this.$store.dispatch('files/upload',{files,visibility:this.visibility});
                    this.open = false;
                }
            },
        },
    }
</script>