<template>
    <div class="content">
        <h4 class="heading"><b-icon icon="folder"></b-icon><span>{{folderName}}</span></h4>
        <lf-file-upload-file-progress v-for="file in uploadFolder" :key="file.id" :upload-file="file"></lf-file-upload-file-progress>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    export default {
        props: ['uploadFolder'],
        data(){
            return {
                open: false,
            }
        },
        computed: {
            ...mapState('files',[
                'path'
            ]),
            isActiveFolder(){
                return this.path === this.uploadFolder[0].folder.path;
            },
            folderName(){
                return this.uploadFolder[0].folder.name;
            }
        }
    }
</script>