<template>
    <b-collapse class="card" :open.sync="open" aria-id="uploadProgress" v-if="isVisible">
        <div
                slot="trigger"
                slot-scope="props"
                class="card-header"
                role="button"
                aria-controls="uploadProgress">
            <p class="card-header-title">
                <span class="has-margin-right-size-6">{{titleText}}</span>
                <progress class="progress" :class="progressBarClass" :value="progress" max="100">{{progress}}%</progress>
            </p>
            <a class="card-header-icon">
                <b-icon
                        :icon="props.open ? 'menu-down' : 'menu-up'">
                </b-icon>
                <button v-if="!uploadsInProgress" class="delete" @click="clear"></button>
            </a>
        </div>
        <div class="card-content">
            <lf-file-upload-folder-progress v-for="folder in uploadFolders" :key="folder.path" :upload-folder="folder"></lf-file-upload-folder-progress>
        </div>
    </b-collapse>
</template>

<script>
    import {mapState,mapGetters} from 'vuex';
    export default {
        data(){
            return {
                open: false,
            }
        },
        computed: {
            ...mapState('files',[
                'uploads',
            ]),
            ...mapGetters('files',[
                'uploadFolders',
                'uploadsInProgress'
            ]),
            isVisible(){
                return this.uploads.length;
            },
            titleText(){
                return this.uploadsInProgress ? 'Uploading' : 'Uploads';
            },
            status(){
                switch(true){
                    case _.every(this.uploads,'failed'):
                        return 'danger';
                    case _.some(this.uploads,'failed'):
                        return 'warning';
                    case this.uploadsInProgress:
                        return 'primary';
                    case _.every(this.uploads,'complete'):
                        return 'success';
                    default:
                        return 'info';
                }
            },
            progressBarClass(){
                return 'is-'+this.status;
            },
            progress(){
                let size = upload=>upload.file.size;
                let total = _.sumBy(this.uploads,size);
                let complete = _.sumBy(_.filter(this.uploads,upload=>upload.complete || upload.failed),size);
                let inProgress = _.sumBy(_.filter(this.uploads,'inProgress'),upload=>upload.file.size * upload.progress / 100);
                return (complete + inProgress) * 100 / total;
            }
        },
        methods:{
            clear(){
                this.$store.commit('files/clearUploads');
            }
        }
    }
</script>