<template>
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li v-for="(crumb,index) in breadcrumbs" :class="{'is-active':index===lastCrumbIndex}">
                <button class="button is-text" title="Refresh current folder" @click="refresh" v-if="index === lastCrumbIndex"><b-icon icon="folder-sync"></b-icon><span>{{crumb}}</span></button>
                <button class="button is-text" @click="goUpTo(index)" v-else>{{crumb}}</button>
            </li>
        </ul>
    </nav>
</template>

<script>
    import {mapActions} from 'vuex';
    export default {
        computed: {
            breadcrumbs(){
                return this.$store.state.files.breadcrumbs;
            },
            lastCrumbIndex(){
                return this.breadcrumbs.length - 1;
            }
        },
        methods: {
            ...mapActions('files',[
                'loadFolder',
                'refresh',
            ]),
            goUpTo(index){
                this.loadFolder(this.breadcrumbs.slice(1,index + 1).join('/'));
            },
            // setDirectory (crumb) {
            //     let index = this.breadcrumbs.crumbs.indexOf(crumb);
            //     let path = [];
            //
            //     for (let i = 0; i <= index; i++) {
            //         path.push(this.breadcrumbs.crumbs[i]);
            //     }
            //
            //     path = '/' + path.join('/');
            //
            //     this.$eventBus.$emit('update-file-manager', path);
            // },
            // isCrumb (crumb) {
            //     return this.breadcrumbs.current_path === crumb;
            // }
        },
    }
</script>