<template>
    <div class="level">
        <div class="level-left">
            <div class="level-item"><b-icon :icon="uploadFile.icon"></b-icon></div>
            <div class="level-item"><span>{{uploadFile.file.name}}<span v-if="uploadFile.uploadedAs"><br>as {{uploadFile.uploadedAs}}</span></span></div>
        </div>
        <div class="level-item has-margin-left-size-6 has-margin-right-size-6" style="max-width:40%">
            <progress class="progress" :class="progressBarClass" :value="uploadFile.progress" max="100">{{uploadFile.progress}}%</progress>
        </div>
        <div class="level-right">
            <div class="level-item">{{statusText}}</div>
            <div class="level-item" v-if="status === 'info'">
                <button class="delete" @click="cancel"></button>
            </div>
            <div class="level-item" v-if="status === 'danger'">
                <button class="button is-small" @click="retry">
                    <b-icon icon="restart" size="is-small"></b-icon> <span>Retry</span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import BIcon from "buefy/src/components/icon/Icon";
    export default {
        components: {BIcon},
        props: ['uploadFile'],
        data(){
            return {
            }
        },
        computed: {
            status(){
                switch(true){
                    case this.uploadFile.inProgress:
                        return 'primary';
                    case this.uploadFile.failed:
                        return 'danger';
                    case this.uploadFile.complete:
                        return 'success';
                    default:
                        return 'info';
                }
            },
            progressBarClass(){
                return 'is-'+this.status;
            },
            statusText(){
                return ({
                    primary:'In progress',
                    success:'Uploaded',
                    danger:'Failed',
                    info:'Awaiting',
                })[this.status];
            }
        },
        methods: {
            cancel(){
                console.log('cancel',this.uploadFile);
                this.$store.commit('files/cancelUpload',this.uploadFile);
            },
            retry(){
                this.$store.commit('files/markUploadStatus',{id:this.uploadFile.id,failed:false,progress:0});
                this.$store.dispatch('files/makeSureUploadsAreInProgress');
            }
        }
    }
</script>