<template>
    <transition-group name="slide-down" tag="div" class="alerts">
        <div class="alert" v-for="(message, index) in alerts" :key="message">
            <h3>{{ message }}</h3>
    
            <button class="button" @click.prevent="remove(index)">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </transition-group>
</template>

<script>
    import listeners from '@/mixins/listeners';
    export default {
        mixins: [listeners],
        listeners() {
            return {
                'send-alert': this.addAlert
            }
        },
        data () {
            return {
                alerts: [],
                keys: [],
                interval: 8000
            }
        },
        methods: {
            addAlert (message) {
                if (typeof message === 'object') {
                    Object.keys(message).forEach(item => {
                        this.keys[item] = this.alerts.push(message[item]);
                    });
                } else {
                    this.keys.push(this.alerts.push(message));
                }
                
                this.removeItems();
            },
            removeItems () {
                this.alerts.forEach((item, index) => {
                    setTimeout(() => {
                        this.alerts.splice(item, 1);
                    }, this.interval);
                });
            },
            remove (index) {
                this.alerts.splice(index);
            }
        },
    }
</script>