<template>
    <article class="section-body">
        <table class="table" v-if="loaded">
            <thead>
                <tr>
                    <td v-if="controls">Manage</td>
                    <td v-for="header in headers">{{ header }}</td>
                </tr>
            </thead>
            
            <tbody>
                <tr v-for="(item, key) in list">
                    <list-controls :route="route" :id="item.id" :item_key="key" v-if="controls"></list-controls>
                    
                    <td v-for="(value, index) in item" v-if="Object.keys(headers).includes(index) && typeof value === 'string'">
                        {{ value | clean_text }}
                    </td>
                    
                    <td class="inline" v-for="(value, index) in item" v-if="nested_headers && Object.keys(nested_headers).includes(index) && typeof value === 'object'">
                        <span v-for="(v, vindex) in value" v-if="nested_headers[index]">{{ v.name }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
</template>

<script>
    import axios from 'axios';
    import listeners from '@/mixins/listeners';
    export default {
        mixins: [listeners],
        listeners() {
            return {
                'update-list': this.getList
            }
        },
        props: ['headers', 'controls', 'route', 'nested_headers'],
        data () {
          return {
              list: '',
              loaded: false
          }
        },
        methods: {
            getList () {
                axios.get('/admin/' + this.route)
                    .then(response => {
                        console.log(response);
                        
                        this.list = response.data.data;
                        
                        this.$eventBus.$emit('set-paginator', response.data);
                        
                        if (!this.loaded) {
                            this.$eventBus.$emit('set-loading', false);
                            this.loaded = true;
                        }
                    });
            }
        },
        mounted () {
            this.getList();
        },
    }
</script>