<template>
    <b-navbar has-burger>
        <template v-slot:brand>
            <slot name="brand"></slot>
        </template>
        <template v-slot:start>
            <a class="navbar-item" href="/">
                <b-icon icon="home" size="is-small"></b-icon> <span>Home</span>
            </a>
            <slot name="start"></slot>
        </template>
        <template v-slot:end>
            <lf-admin-navigation-widget-display v-for="widget in widgets" :widget="widget" :key="widget.name" class="navbar-item"></lf-admin-navigation-widget-display>
            <slot name="end"></slot>
        </template>
    </b-navbar>
</template>

<script>
    import adminNavigationStore from '@/store/modules/adminNavigation';
    export default {
        name: "lfAdminNavigation",
        beforeCreate() {
            if(!this.$store.state.adminNavigation){
                this.$store.registerModule('adminNavigation',adminNavigationStore);
            }
        },
        computed: {
            widgets(){
                return this.$store.state.adminNavigation.widgets;
            },
        }
    }
</script>