<template>
    <div class="larafish-admin-frame">
        <slot></slot>
    </div>
</template>
<script>

    export default {
        props: {
        },
        data(){
            return {

            }
        }
    }
</script>