<template>
    <div></div>
</template>

<script>
    export default {
        name: "lfAdminNavigationWidgetDisplay",
        props: {widget: Object},
        mounted(){
            this.$el.appendChild(this.widget.element);
        }
    }
</script>