<template>
    <div hidden>
        <div ref="wrapper">
            <slot ref="widget"></slot>
        </div>
    </div>
</template>

<script>
    import adminNavigationStore from '@/store/modules/adminNavigation';
    export default {
        name: "lfAdminNavigationWidget",
        props: {
            prepend: Boolean,
        },
        beforeCreate() {
            if(!this.$store.state.adminNavigation){
                this.$store.registerModule('adminNavigation',adminNavigationStore);
            }
        },
        mounted(){
            this.$store.commit('adminNavigation/addWidget',{name:this._uid,element:this.$refs.wrapper,prepend:this.prepend})
        },
        beforeDestroy() {
            this.$store.commit('adminNavigation/removeWidget',this._uid);
        }
    }
</script>