<template>
    <button class="button" @click="toggleVerbose">
        <b-icon :icon="'toggle-switch' + (verbose ? '' : '-off')"></b-icon>
        <span>{{verbose ? 'Compact controls' : 'Verbose controls'}}</span>
    </button>
</template>

<script>
    export default {
        data(){
            return {
                verbose: document.body.classList.contains('verbose-controls')
            }
        },
        methods:{
            toggleVerbose(){
                this.verbose = document.body.classList.toggle('verbose-controls');
            }
        }
    }
</script>