<template>
    <div class="pagination">
        <ul class="links">
            <li v-for="n in last_page">
                <a :href="page_url + '?page=' + n" :title="'Page ' + n" :class="{'disabled': current_page === n}" class="button secondary" v-if="current_page === n" @click.prevent="">{{ n }}</a>
                <a :href="page_url + '?page=' + n" :title="'Page ' + n" class="button secondary" v-else>{{ n }}</a>
            </li>
        </ul>
    </div>
</template>

<script>
    // TODO - Finish Paginator

    import listeners from '@/mixins/listeners';
    export default {
        mixins: [listeners],
        listeners() {
            return {
                'set-paginator': this.setPaginator
            }
        },
        data () {
            return {
                to: '',
                from: '',
                total: '',
                per_page: '',
                last_page: '',
                current_page: '',
                next_page_url: '',
                prev_page_url: '',
                page_url: '',
            }
        },
        methods: {
            setPaginator (data) {
                this.to = data.to;
                this.from = data.from;
                this.total = data.total;
                this.per_page = data.per_page;
                this.last_page = data.last_page;
                this.current_page =data.current_page;
                this.next_page_url = data.next_page_url;
                this.prev_page_url =data.prev_page_url;

                if (this.last_page > 1) {
                    if (this.next_page_url) {
                        this.page_url = this.next_page_url.substr(0, this.next_page_url.indexOf('?'));
                    } else if (this.prev_page_url) {
                        this.page_url = this.prev_page_url.substr(0, this.prev_page_url.indexOf('?'));
                    } else {
                        console.error('Check your controller, you may not be sending paginated data in a json format.');
                    }
                }
            }
        },
    }
</script>