<template>
    <td class="controls">
        <button class="button small" v-on:click.prevent="activate(id)" v-show="active === ''">
            <i class="fas fa-edit"></i>
        </button>
        
        <div v-show="active === id">
            <a :href="route + '/' + id + '/edit/'" class="button small" v-if="!confirm">Edit</a>
            <a href="" class="button small" @click.prevent="confirm = !confirm" v-if="!confirm">Delete</a>
            <a href="" class="button secondary small" @click.prevent="activate(id)" v-if="!confirm">Cancel</a>
    
            <a href="" class="button secondary small" @click.prevent="confirm = !confirm" v-if="confirm">Cancel</a>
            <a href="" class="button small" @click.prevent="remove" v-if="confirm">Confirm Deletion</a>
        </div>
    </td>
</template>

<script>
    import listeners from '@/mixins/listeners';
    export default {
        mixins: [listeners],
        listeners() {
            return {
                'activate-list-controls': this.deactivate
            }
        },
        props: ['id', 'item_key', 'route'],
        data () {
            return {
                active: '',
                confirm: false
            }
        },
        methods: {
            activate(id) {
                if (this.active === id) {
                    this.active = '';
                } else {
                    this.active = id;
                }
                
                this.$eventBus.$emit('activate-list-controls', id);
            },
            deactivate(id)
            {
                if (this.active !== id) {
                    this.active = '';
                    this.confirm = '';
                }
            },
            remove () {
                axios.delete('/admin/' + this.route + '/' + this.id)
                    .then(response => {
                        if (response.data.success) {
                            this.active = '';
                            this.confirm = false;
                            
                            this.$eventBus.$emit('update-list', this.item_key);

                            this.$eventBus.$emit('send-alert', 'Successfully deleted that item!');
                        } else {
                            this.$eventBus.$emit('send-alert', 'Failed to delete that item!');
                        }
                    })
                    .catch(error => {
                        this.$eventBus.$emit('send-alert', 'Failed to delete that item!');
                    })
            }
        },
    }
</script>