<template>
    <div :class="'loading fa-'+scale+'x'" v-if="loading">
        <i class="fas fa-spinner fa-pulse"></i>
    </div>
</template>

<script>
    import listeners from '@/mixins/listeners';
    export default {
        mixins: [listeners],
        props: ['name','size'],
        listeners() {
            let listeners = {};
            listeners[this.name?'set-loading-'+this.name:'set-loading'] = this.setLoading;
            return listeners;
        },
        data () {
          return {
              loading: false,
              scale: this.size?this.size:'3',
          }
        },
        methods: {
          setLoading (loading) {
              this.loading = loading;
          }
        },
    }
</script>