<template>
    <div class="progress-bar primary" :style="{width: percentage}"></div>
</template>

<script>
    export default {
        props: ['percent'],
        data () {
          return {
              percentage: '0%'
          }
        },
        watch: {
            percent (val) {
                this.percentage = val + '%';
            }
        }
    }
</script>