<template>
    <div class="is-relative">
        <lf-file-breadcrumbs></lf-file-breadcrumbs>
        <div class="file-manager">
            <lf-files-table v-if="view === 'list'"></lf-files-table>
            <lf-files-grid v-else></lf-files-grid>
            <lf-checked-files-controls class="has-margin-bottom-size-4" :select="selectSettings" @selected="passUpSelected"></lf-checked-files-controls>
            <lf-file-upload-progress></lf-file-upload-progress>
        </div>
        <b-loading :is-full-page="false" :active="loading"></b-loading>
    </div>
</template>

<script>
    import fileStore from '@/store/modules/files';
    export default {
        props: {
            select:  Boolean,
            selectImage: Boolean,
            selectMultiple: Boolean,
            selectPath:Boolean,
            selectPrivate: Boolean,
        },
        data () {
          return {
              query: '',
          }
        },
        computed: {
            loading(){
                return this.$store.state.files.loading;
            },
            canCreateFolders(){
                return this.$store.state.files.permissions.createIn;
            },
            canUploadFiles(){
                return this.$store.state.files.permissions.uploadTo;
            },
            view(){
                return this.$store.state.files.view;
            },
            selectSettings(){
                if(!this.select) return null;
                return {
                    image:this.selectImage,
                    multiple:this.selectMultiple,
                    private:this.selectPrivate,
                }
            }
        },
        methods: {
            setView(view){
                this.$store.commit('files/setView',view);
            },
            passUpSelected(selection){
                if(this.selectPath){
                  selection = selection.map(file=>{
                    if(_.startsWith(file.url,window.location.origin+'/')){
                      return file.url.slice(window.location.origin.length);
                    }
                    return file.url;
                  });
                  if(!this.selectMultiple) selection = _.head(selection);
                }
                this.$emit('selected',selection);
            }
        },
        beforeCreate() {
            this.$store.registerModule('files',fileStore);
        },
        beforeDestroy(){
            this.$store.unregisterModule('files');
        },
        mounted() {
            this.$store.dispatch('files/init');
        }
    }
</script>