.larafish-admin {
  background-image: linear-gradient(to bottom right, $white, rgba($primary,.3));
  min-height: 100vh;
  .page-tree-control {
    margin-bottom:10px;
    .page-tree-subpages {
      padding: 10px 2px;
      border-left: 10px solid $primary;
      .level {
        margin-bottom: 0;
      }
    }
  }


  &.verbose-controls {
    .button[title]:after {
      content: attr(title);
      margin-left: 1em;
    }
  }
  .box-label {
    position: absolute;
    top: -0.65em;
    background-color: white;
    padding: 0 0.5em;
    margin-left: -0.5em;
  }
}
.sortable-drag, .sortable-ghost {
  .page-tree-control {
    display: none;
  }
}
.page-tree-indicator {
  position: absolute;
  border: 3px solid $primary;
  border-right: none;
  border-bottom: none;

}
.table {
  tr.dragover-drop-below {
    td {
      border-bottom: 3px solid $primary;
      padding-bottom: calc(0.5em - 2px);
      &.is-placeholder-row {
        padding-bottom: calc(0.25em - 2px);
      }
    }
    &.is-selected td {
      border-bottom: 3px solid $primary;
    }
  }
  &.is-narrow tr.dragover-drop-below td {
    border-bottom: 3px solid $primary;
    padding-bottom: calc(0.25em - 2px);
  }
  tbody tr.dragover-drop-below{
    &:last-child td {
      border-bottom-width: 3px;
      padding-bottom: calc(0.5em - 3px);
      &.is-placeholder-row {
        border-bottom-width: 3px;
        padding-bottom: calc(0.25em - 3px);
      }
    }
  }
}
td.is-placeholder-row {
  padding: 0.25em 0.5em;
}
fieldset[disabled] {
  @extend .has-text-grey;
  .label {
    @extend .has-text-grey;
  }
}