#larafish-main-nav {
  .navbar.placeholder {
    background-image: linear-gradient(rgba($primary-color, 0),rgba($primary-color, 0),rgba($primary-color,0.3));
    background-color: rgba(black,0);
    .logo-hint {
      opacity: 0.3;
    }
  }
  .navbar:not(.placeholder){
    background-image: linear-gradient(to bottom right, $white, rgba($primary-color,.3));
    @include box-shadow-top
  }
  .navbar.hides {
    transform: translateZ(0) translateY(100%);
    transition: all 0.3s ease-in-out;
  }
  &:hover, &.is-active {
    .navbar.hides {
      transform: none;
    }
  }
}
