.larafish-component.is-editable, .is-larafish-editable {
  outline: 1px dashed $success;
}
.larafish-component.has-changes, .has-larafish-changes {
  outline: 1px dashed $danger;
}
.larafish-component {
  .content-source {
    display: flex;
    flex-direction: column;
    .textarea {
      max-height: 100%;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}
.larafish-component, .has-control-bar {
  &>.component-control-bar {
    position:absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    &.hangs-below {
      bottom: auto;
      top: 100%;
      z-index: 1;
    }
    &.is-fixed-control-bar {
      bottom: auto;
      position: fixed;
      left: auto;
      right: auto;
      z-index: 1;
    }
  }
  &:hover, &:focus, &.show-control-bar {
    &>.component-control-bar {
      opacity: 1;
      pointer-events: auto;
    }
  }
  &.has-visible-control-bar {
    &>.component-control-bar {
      pointer-events: auto;
      opacity: 1;
    }
  }
}

.is-top-right {
  position: absolute;
  right: 0;
  top: 0;
  &-spaced {
    position: absolute;
    right: 1em;
    top: 1em;
  }
}

.has-fullheight-tab-content {
  .tab-content, .tab-item {
    height: 100%;
    overflow-y: auto;
  }
}

.sortable-ghost {
  background-color: $primary-color-light
}
.layout-manager{
  .is-nested {
    padding-left:10px;
  }
  .half-rem-bottom-margin {
    margin-bottom: 0.5rem;
  }
  .droppable-bowl {
    min-height: 0.5rem;
    flex: 1 0 auto;
  }
  .bowl-wrapper {
    display: flex;
    flex-flow: row;
    .bowl-left-border {
      position: relative;
      width: 1em;
      &:before {
        content: ' ';
        display: block;
        position: absolute;
        pointer-events: none;
        border-left: 1px solid $black;
        border-radius: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        width: 2em;
      }
    }
  }
}


.larafish-page-settings {
  position: fixed;
  top: 0; //100px;
  right: 0;
  bottom: 3.25rem;

  width: 45%;

  z-index: 29;

  transform: translateX(100%);

  transition: transform $speed $easing;

  @include box-shadow-left();

  &.active {
    transform: translateX(0) !important;
  }


  .page-settings-wrapper {
    & > .delete {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    padding: 1em;

    height: 100%;

    background-color: $white;
    border-left: 4px solid $primary;

    .draggable-placeholder {
      .tree-node-inner {
        background-color: $primary-color-light;
      }
    }
  }
}