<template>
    <div class="message is-info is-relative">
        <div class="message-body">
            <!-- Field Management Buttons -->
            <div class="is-top-right-spaced">
                <button type="button" @click="moveFieldUp" class="button is-small is-rounded"><b-icon icon="chevron-up"></b-icon></button>
                <button type="button" @click="moveFieldDown" class="button is-small is-rounded"><b-icon icon="chevron-down"></b-icon></button>
                <button @click="removeField" class="button is-small is-rounded"><b-icon icon="delete"></b-icon></button>
            </div>
            <div class="field">
                <label class="label has-text-info">{{ description }}</label>
            </div>
            <div class="field">
                <label class="label" :for="idPrefix+'name'">Name</label>
                <input :id="idPrefix+'name'" class="input" type="text" v-model="field.label" placeholder="Field Name">
            </div>

            <div class="message" v-if="hasOptions" :class="{'is-warning':optionsAreEmpty}">
                <div class="message-header">Options</div>
                <div class="message-body">
                    <div v-if="optionsAreEmpty">
                        <b-icon icon="chevron-down"></b-icon>
                        <span>Please add an option</span>
                    </div>
                    <div class="field" v-for="(option, option_index) in field.options">
                        <div class="field has-addons">
                            <div class="control">
                                <input class="input" type="text" v-model="option.name" placeholder="My Option">
                            </div>
                            <div class="control">
                                <button class="button is-danger" @click="removeOption(option_index, field)">
                                    <b-icon icon="delete"></b-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <button class="button" @click="addOption(field)">
                        <b-icon icon="plus"></b-icon>
                        <span>Add Option</span>
                    </button>
                </div>
            </div>
            <div class="field" v-if="field.type === 'text'">
                <label :for="idPrefix+'validator'" class="label">Content Validation</label>
                <div class="control">
                    <div class="select is-fullwidth">
                        <select v-model="field.validator" :id="idPrefix+'validator'">
                            <option :value="validation_option.type" v-for="validation_option in validation_options">{{ validation_option.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label :for="idPrefix+'conditional'" class="checkbox">
                        <input type="checkbox" v-model="conditional" :id="idPrefix+'conditional'">
                        <span>Conditional</span>
                    </label>
                    <label :for="idPrefix+'required'" class="checkbox">
                        <input type="checkbox" v-model="field.required" :id="idPrefix+'required'">
                        <span>Required</span>
                    </label>
                    <label :for="idPrefix+'encrypted'" class="checkbox">
                        <input type="checkbox" v-model="field.encrypt" :id="idPrefix+'encrypted'">
                        <span>Encrypted</span>
                    </label>
                    <label :for="idPrefix+'multiple'" class="checkbox" v-if="field.hasOwnProperty('multiple')">
                        <input type="checkbox" v-model="field.multiple" :id="idPrefix+'multiple'">
                        <span>Accept Multiple Files</span>
                    </label>
                </div>
            </div>
            <lf-form-builder-condition-group v-if="field.conditional" :item="field.conditions" :field="field" top-level></lf-form-builder-condition-group>
        </div>

    </div>

</template>
<script>
    import { mapGetters } from 'vuex';
    export default {
        props: {
            section:Object,
            field:Object,
            section_index:Number,
            field_index:Number
        },
        computed: {
            ...mapGetters('formBuilder',['fieldTypes']),
            description(){
                return this.fieldTypes[this.field.type].description;
            },
            hasOptions(){
                return ['dropdown','checkboxes','radios'].indexOf(this.field.type) > -1;
            },
            optionsAreEmpty(){
                return this.hasOptions && this.field.options.length === 0;
            },
            conditional:{
                get(){return this.field.conditional;},
                set(value){
                    if(value && !this.field.conditional && !this.field.conditions){
                        this.$store.commit('formBuilder/addInitialFieldCondition',this.field);
                    }
                    this.field.conditional = value;
                }
            },
            idPrefix(){
                return 's'+this.section_index+'f'+this.field_index+'_';
            }
        },
        methods: {

            addOption(){
                this.$store.commit('formBuilder/addOption',this.field);
            },
            removeOption(index) {
                this.field.options.splice(index, 1);
            },
            removeField() {
                this.section.fields.splice(this.field_index, 1);
            },
            moveFieldUp() {
                if(this.field_index > 0){
                    this.section.fields.splice(this.field_index-1, 0,
                        this.section.fields.splice(this.field_index, 1)[0]);
                }
            },
            moveFieldDown() {
                this.section.fields.splice(this.field_index+1, 0,
                    this.section.fields.splice(this.field_index, 1)[0]);
            },
        },
        data(){
            return {
                validation_options: [
                    {
                        name: 'None',
                        type: null
                    },
                    {
                        name: 'Email',
                        type: 'email'
                    },
                    {
                        name: 'Phone',
                        type: 'phone:US'
                    },
                    {
                        name: 'Numeric',
                        type: 'numeric'
                    },
                    {
                        name: 'URL',
                        type: 'url'
                    }
                ]
            }
        }
    }
</script>