<template>
    <div v-if="form">
        <!-- Fields Tab -->

        <div class="field">
            <label class="label" for="form-title">Form Title</label>
            <div class="control">
                <input class="input" id="form-title" type="text" v-model="form.title" placeholder="Form Title">
            </div>
        </div>

        <div class="field">
            <label class="label" for="form-description">Description (Optional)</label>
            <div class="control">
                <textarea class="textarea" id="form-description" v-model="form.description" placeholder="Explanation of the form, what it's for, etc."></textarea>
            </div>
        </div>

        <label class="label">Sections</label>
        <div v-for="(section, section_index) in form.sections" class="is-relative box">
            <!-- Section Management Buttons -->
            <div class="is-top-right-spaced">
                <button type="button" @click="moveSectionUp(section_index)" class="button is-small is-rounded"><b-icon icon="chevron-up"></b-icon></button>
                <button type="button" @click="moveSectionDown(section_index)" class="button is-small is-rounded"><b-icon icon="chevron-down"></b-icon></button>
                <button @click="removeSection(section_index)" class="button is-small is-rounded"><b-icon icon="delete"></b-icon></button>
            </div>

            <div class="field">
                <label class="label" :for="'s'+section_index+'title'">Section Title (Optional)</label>
                <div class="control">
                    <input type="text" :id="'s'+section_index+'title'" class="input" v-model="section.title" placeholder="Section Title (Optional)">
                </div>
            </div>

            <div class="message is-warning" v-if="section.fields.length === 0">
                <div class="message-body">
                    <b-icon icon="chevron-down"></b-icon>
                    <span>Please add a field</span>
                </div>
            </div>

            <lf-form-builder-field v-for="(field,field_index) in section.fields" :key="section_index+'_'+field_index"
                                   v-bind="{section,section_index,field,field_index}"></lf-form-builder-field>

            <!-- Add Field Buttons -->
            <div class="buttons">
                <button type="button" class="button" v-for="type in fieldTypesList" @click="addField(section, type)">
                    <b-icon :icon="fieldTypes[type].icon"></b-icon> <span>{{type}}</span>
                </button>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button type="button" class="button" @click="addSection"><b-icon icon="plus"></b-icon>
                    <span>Add Section</span></button>
            </div>
        </div>

        <div class="field">
            <label class="label" for="closing_comments">Closing Comments</label>
            <div class="control">
                <textarea id="closing_comments" class="textarea" v-model="form.closing_comments" placeholder="Comments..."></textarea>
            </div>
        </div>

        <div class="field">
            <label class="checkbox">
                <input type="checkbox" v-model="form.terms" id="terms">
                <span>Terms & Conditions</span>
            </label>
        </div>
        <fieldset :disabled="!form.terms">
            <div class="field">
                <label class="label" for="terms_agree">Agree to Terms & Conditions Text</label>
                <div class="control">
                    <input class="input" id="terms_agree" type="text" v-model="form.terms_agree" placeholder="I Agree">
                </div>
            </div>
            <div class="field">
                <label for="terms_conditions">Terms & Conditions Text</label>
                <div class="control">
                    <textarea class="textarea" id="terms_conditions" v-model="form.terms_conditions"
                              placeholder="You're agreeing to these terms with these conditions..."></textarea>
                </div>
            </div>
        </fieldset>

        <!-- Fields Tab -->
    </div>
</template>

<script>
    import { mapState, mapMutations, mapGetters } from 'vuex';
    export default {
        computed: {
            ...mapState('formBuilder',['form']),
            ...mapGetters('formBuilder',['fieldTypes']),
            fieldTypesList(){
                return _.keys(this.fieldTypes);
            }
        },
        methods: {
            ...mapMutations('formBuilder',['addSection','addOption']),
            // addSection() {
            //     this.form.sections.push(this.defaultSection());
            // },
            // defaultSection(){
            //     return {
            //         title: '',
            //         fields : []
            //     };
            // },
            /**
             * Add a Field
             * @param section
             * @param type
             */
            addField(section, type)
            {
                this.$store.commit('formBuilder/addField',{
                    section,type,
                    field:_.omit(this.fieldTypes[type],['icon','description'])
                });
            },

            /**
             * Remove a Field
             * @param section
             * @param index
             */
            removeField(section, index)
            {
                section.fields.splice(index, 1);
            },
            // /**
            //  *
            //  * @param field
            //  */
            // addOption(field)
            // {
            //     field.options.push({ name : 'My Option' });
            // },

            /**
             *
             * @param index
             * @param field
             */
            removeOption(index, field)
            {
                field.options.splice(index, 1);
            },

            /**
             *
             * @param section
             * @param index
             */
            moveFieldUp(section, index)
            {
                if(index > 0){
                    section.fields.splice(index-1, 0, section.fields.splice(index, 1)[0]);
                }
            },

            /**
             *
             * @param section
             * @param index
             */
            moveFieldDown(section, index)
            {
                section.fields.splice(index+1, 0, section.fields.splice(index, 1)[0]);
            },
        },
    }
</script>
