<template>
    <div>
        <!-- Settings Tab -->
        <div class="message">
            <div class="message-header">
                Availability
            </div>
            <div class="message-body">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" v-model="form.published">
                        <span>Published</span>
                    </label>
                </div>
                <fieldset :disabled="!form.published">
                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" v-model="form.scheduled">
                            <span>Scheduled</span>
                        </label>
                    </div>
                    <fieldset class="field is-grouped is-grouped-multiline" :disabled="!form.scheduled">
                        <div class="field">
                            <label class="label" for="date_start">Start Date</label>
                            <div class="control">
                                <b-datepicker
                                        id="date_start"
                                        placeholder="Click to select..."
                                        icon="calendar-today"
                                        v-model="dateStart"
                                        :yearsRange="[-5,5]"
                                        :max-date="dateEnd">
                                </b-datepicker>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <b-datepicker
                                        id="date_end"
                                        placeholder="Click to select..."
                                        icon="calendar-today"
                                        v-model="dateEnd"
                                        :yearsRange="[-5,5]"
                                        :min-date="dateStart">
                                </b-datepicker>
                            </div>
                        </div>
                    </fieldset>

                </fieldset>
            </div>
        </div>

        <div class="message">
            <div class="message-header">
                General
            </div>
            <div class="message-body">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" v-model="form.requires_recaptcha" id="requires_recaptcha">
                        <span>Requires Recaptcha</span>
                    </label>
                </div>

                <fieldset class="field" :disabled="noEmailField">
                    <label class="checkbox">
                        <input type="checkbox" v-model="form.requires_receipt" id="requires_receipt">
                        <span>Requires Receipt</span>
                    </label>
                    <p class="help" v-if="noEmailField">
                        Add at least one text field with email validation in order to send a receipt.
                    </p>
                </fieldset>

                <div class="field" v-if="!noEmailField && form.requires_receipt">
                    <label for="receiptEmail">Receipt email field</label>
                    <div class="control">
                        <div class="select">
                            <select id="receiptEmail" v-model="form.receipt_email_field">
                                <option v-for="field in emailFields" :value="field.name">{{field.label}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="submit_button_title">Submit Button Title</label>
                    <div class="control">
                        <input class="input" id="submit_button_title" type="text" v-model="form.submit_button_title">
                    </div>
                </div>
            </div>
        </div>

        <div class="message">
            <div class="message-header">
                Form Completion
            </div>
            <div class="message-body">
                <div class="field">
                    <label class="label" for="redirect_url">Redirect Url</label>
                    <div class="control">
                        <input type="text" id="redirect_url" class="input" v-model="form.redirect_url" placeholder="Leave blank for no redirect">
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="success_title">Success Title</label>
                    <div class="control">
                        <input type="text" id="success_title" class="input" v-model="form.success_title" placeholder="Success">
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="success_description">Success Description</label>
                    <div class="control">
                        <lf-editable-area class="textarea" :content.sync="form.success_description"
                                             id="success_description" :editable="true"
                                             placeholder="Thank you for your submission!"></lf-editable-area>
                    </div>
                </div>
            </div>
        </div>

        <!-- /Settings Tab -->
    </div>
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        computed: {
            ...mapState('formBuilder',['form']),
            dateStart:{
                get(){
                    return this.form && this.form.start_date ?
                        new Date(this.form.start_date) : null
                },
                set(date){
                    this.form.start_date = date;
                }
            },
            dateEnd:{
                get(){
                    return this.form && this.form.end_date ?
                        new Date(this.form.end_date) : null
                },
                set(date){
                    this.form.end_date = date;
                }
            },
            noEmailField(){
                return this.emailFields.length === 0;
            },
            emailFields(){
                return _.filter(_.flatMap(this.form.sections,'fields'),field=>field.type==='text'&&field.validator==='email');
            }
        },
        methods: {

        }
    }
</script>

<style scoped>

</style>