<template>
    <div>
        <!-- Notifications Tab -->

        <div class="message" :class="{'is-warning':!form.notification_addresses.length}">
            <div class="message-header">
                Email addresses to notify of new form submissions
            </div>
            <div class="message-body">
                <span v-if="! form.notification_addresses.length">Please add a recipient.</span>
                <div class="field is-grouped" v-for="(email, email_index) in form.notification_addresses">
                    <div class="field">
                        <label class="label" :for="'e'+email_index+'_name'">Name</label>
                        <div class="control">
                            <input class="input" :id="'e'+email_index+'_name'" type="text" v-model="email.name" placeholder="Name">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" :for="'e'+email_index+'_address'">Address</label>
                        <div class="control">
                            <input class="input" type="email" :id="'e'+email_index+'_address'" v-model="email.address" placeholder="email@example.com">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">&nbsp;</label>
                        <div class="control">
                            <button type="button" @click="removeNotificationAddress(email_index)" class="delete"></button>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <button type="button" @click="addNotificationAddress" class="button">
                        <b-icon icon="plus"></b-icon>
                        <span>Add Address</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- /Notifications Tab -->
    </div>
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        computed: {
            ...mapState('formBuilder',['form']),
        },
        methods: {

            /**
             * Add a notification address
             */
            addNotificationAddress: function()
            {
                this.form.notification_addresses.push({
                    name : '',
                    address : ''
                });
            },

            /**
             * Remove a notification address
             * @param index
             */
            removeNotificationAddress: function(index)
            {
                this.form.notification_addresses.splice(index, 1);
            },
        }
    }
</script>

<style scoped>

</style>