@charset "utf-8";
/*
    Frontend SCSS Entry File
*/

/* --- Variables --- */
@import 'core/variables';
@import 'core/theme';

///* --- Vendor Files --- */
@import "~bulma";

// see icons at https://cdn.materialdesignicons.com/4.4.95/
//@import "~@mdi/font/scss/materialdesignicons";

/* --- Helpers --- */
@import 'helpers/functions';
@import 'helpers/utilities';

/* --- Mixins --- */
@import 'mixins/media-queries';
@import 'mixins/fluid-type';
@import 'mixins/box-shadows';

/* --- Core --- */
@import 'core/layout';
@import 'core/grid';
@import 'core/typography';
@import 'core/links';
@import 'core/lists';
@import 'core/forms';

/* --- Components --- */
@import 'components/navigation-menu';
@import 'components/swiper-slider';
@import 'components/staff';
@import 'components/modal';

.slider-content p, .slider-content span {
  @include mq-max() {
    color: white !important;
  }
}

.home-slider .larafish-editable-area {
  background: rgba(0,0,0,0.3);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

// Custom Tailwind CSS
@import 'tailwind/main';
