<template>
    <form class="form slide">
        <slot></slot>

        <b-field label="Title">
            <b-input placeholder="Slide Title" expanded v-model="title" required name="title"></b-input>
        </b-field>

        <input type="hidden" name="content" v-model="content"/>
        <b-field label="Content">
<!--            <div ref="editableArea" class="medium-editor-element textarea"></div>-->
            <lf-editable-area class="medium-editor-element textarea" editable :content.sync="content" :settings="settings"></lf-editable-area>
        </b-field>

        <div class="columns">
            <div class="column">
                <b-field label="Button Url">
                    <b-input placeholder="Button Url" v-model="button_url" name="button_url"></b-input>
                </b-field>
            </div>
            <div class="column">
                <b-field label="Button Text">
                    <b-input placeholder="Button Text" v-model="button_text" name="button_text"></b-input>
                </b-field>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <b-field label="Slide Photo (1350x460)">
                    <b-input type="file" accept=".jpg, .jpeg .png" name="image"></b-input>
                </b-field>
            </div>
            <div class="column">
                <b-field label="Slide Alt Text">
                    <b-input placeholder="Alt Text" v-model="alt_text" name="alt_text"></b-input>
                </b-field>
            </div>
        </div>
        <div class="columns">
            <div class="column" v-if="image">
                <img :src="image"/>
            </div>
            <div class="column"></div>
        </div>

        <b-field label="Visible">
            <label>
                <input type="checkbox" name="active" v-model="active">
                Yes
            </label>
        </b-field>

        <hr>

        <div class="field">
            <div class="control">
                <button type="submit" class="button is-primary">{{ page }}</button>
            </div>
        </div>
    </form>
</template>
<script>
    import MediumEditor from 'medium-editor';
    import { Settings } from '@/medium/contentArea';
    import ColorPicker from '@/medium/extensions/ColorPicker';
    export default {
        props: ['slide', 'errors', 'page'],
        data() {
            return {
                title: this.slide ? this.slide.title : '',
                content: this.slide ? this.slide.content : '',
                image: this.slide ? this.slide.photo : '',
                button_url: this.slide ? this.slide.button_url : '',
                button_text: this.slide ? this.slide.button_text : '',
                active: this.slide ? this.slide.active : '',
                alt_text: this.slide ? this.slide.alt_text : '',
                settings: this.mediumSettings || Settings,
            }
        },
        mounted() {
            // Create editor
            // this.editor = new MediumEditor(this.$refs.editableArea, Object.assign({}, setting));
            // Subscribe editor to input editing and set vuex data on edit
            // this.editor.subscribe('editableInput', () => this.content = this.editor.getContent());
            // this.editor.setContent(this.content);
        }
    }
</script>
<style lang="scss" scoped>
    .medium-editor-element {
        height: 200px !important;
        min-height: unset !important;
        overflow-y: auto !important;

        align-items: flex-start !important;
    }
</style>
