<template>
    <b-table ref="table"
             class="has-margin-bottom-size-3"
             :data="pages"
             paginated
             backend-pagination
             @page-change="onPageChange"
             @sort="onSort"
             default-sort="nav_title"
             striped
             mobile-cards
             :per-page="perPage"
             :total="total"
             :loading="loading">
        <template slot-scope="props">
            <b-table-column field="nav_title" label="Title" sortable>
                {{props.row.nav_title}}
            </b-table-column>
            <b-table-column field="path" label="Path" sortable>
                <a :href="props.row.path" target="_blank"><span>{{props.row.path}}</span><b-icon icon="open-in-new"></b-icon></a>
            </b-table-column>
            <b-table-column field="updated_at" label="Last Updated" sortable>
                {{props.row.updated_at}}
            </b-table-column>
        </template>
    </b-table>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        data(){
            return {

            }
        },
        computed: {
            ...mapState('pages', {
                loading: state => state.paged.loading,
                pages: state => state.paged.pages || [],
                perPage: state => state.paged.per_page,
                total: state => state.paged.total,
            }),
        },
        methods: {
            onPageChange(page){
                this.$store.dispatch('pages/updatePaging',{page});
            },
            onSort(field,order){
                this.$store.dispatch('pages/updatePaging',{sortField:field,sortOrder:order});
            },
        },
        mounted(){
            if(this.pages.length === 0){
                this.$store.dispatch('pages/loadPaged');
            }
        }
    }
</script>