<template>
    <section>
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="is-size-1">Pages</h1>
                </div>
                <div class="level-item">
                    <div class="buttons">
                        <button class="button" :class="{'is-primary':treeView}" @click="treeView=true">
                            <b-icon icon="file-tree"></b-icon>
                            <span>Tree View</span>
                        </button>
                        <button class="button" :class="{'is-primary':listView}" @click="listView=true">
                            <b-icon icon="sort-alphabetical-descending"></b-icon>
                            <span>List View</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <lf-page-manager-header-buttons class="level-item"
                        :changed="changed" :clearing-cache="clearingCache" :saving="saving"
                        @clearPageCache="clearPageCache" @saveChanges="saveChanges"
                        :canScript="canScript" @editScriptsAndTags="editScriptsAndTags">
                </lf-page-manager-header-buttons>
            </div>
        </div>
        
        <article class="section-body">
            <lf-pages-tree v-if="treeView" :draggable="draggable"></lf-pages-tree>
            <lf-pages-list v-if="listView"></lf-pages-list>
        </article>
        <div class="level">
            <div class="level-left">
                <lf-page-manager-header-buttons class="level-item"
                                                :changed="changed" :clearing-cache="clearingCache" :saving="saving"
                                                @clearPageCache="clearPageCache" @saveChanges="saveChanges"
                                                :canScript="canScript" @editScriptsAndTags="editScriptsAndTags">
                </lf-page-manager-header-buttons>
            </div>
        </div>
        <micro-modal v-if="canScript" :open.sync="editingScriptsAndTags" size="half">
            <template v-slot:header>Scripts & Tags</template>
            <form @submit.prevent="updateScriptsAndTags" class="is-relative">
                <b-loading :is-full-page="false" :active="loadingScriptsAndTags" can-cancel :on-cancel="()=>editingScriptsAndTags = false"></b-loading>
                <p class="has-text-danger">
                    <strong class="has-text-danger">Be careful!</strong> This text is not validated but <em>is</em> inserted into <em>every</em> front-end page.
                </p>
                <div class="field">
                    <label class="label" for="page-settings-header-tags">Header tags</label>
                    <p class="help">This will be added to the page's <code>&lt;head&gt;</code> tag.
                        You should only use <code>&lt;style&gt;</code>, <code>&lt;link&gt;</code>, <code>&lt;meta&gt;</code>,
                        <code>&lt;script&gt;</code>, and <code>&lt;noscript&gt;</code> tags.
                    </p>
                    <div class="control">
                        <textarea id="page-settings-header-tags" class="textarea is-fullwidth" rows="5" v-model="header_tags" placeholder="-"></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="page-settings-footer-tags">Footer tags</label>
                    <p class="help">This will be added to the end of the page's <code>&lt;body&gt;</code> tag.</p>
                    <div class="control">
                        <textarea id="page-settings-footer-tags" class="textarea is-fullwidth" rows="5" v-model="footer_tags" placeholder="-"></textarea>
                    </div>
                </div>
                <div class="field">
                    <button class="button is-primary">Save</button>
                </div>
            </form>
        </micro-modal>
        <lf-admin-navigation-widget>
            <lf-page-manager-header-buttons class="level-item"
                                            :changed="changed" :clearing-cache="clearingCache" :saving="saving"
                                            @clearPageCache="clearPageCache" @saveChanges="saveChanges"
                                            :canScript="canScript" @editScriptsAndTags="editScriptsAndTags">
            </lf-page-manager-header-buttons>
        </lf-admin-navigation-widget>
    </section>
</template>

<script>
    import {mapState} from 'vuex';
    import pagesStore from '@/store/modules/pages';
    const VIEW_TREE = 'tree';
    const VIEW_LIST = 'list';
    export default {
        props: {pages:Object,draggable:Boolean,canScript:Boolean},
        data(){
            return {
                view:VIEW_TREE
            }
        },
        beforeCreate(){
            this.$store.registerModule('pages',pagesStore);
        },
        created(){
            window.addEventListener('beforeunload',this.warnOfChangesBeforeLeaving);
        },
        mounted(){
            this.$store.commit('pages/loadPages',{pages:this.pages});
        },
        computed: {
            ...mapState('pages',{
                loading:state=>state.saving,
                changed:state=>_.some(state.pages,'changed'),
                clearingCache:state=>state.clearingCache,
                saving:state=>state.saving,
                loadingScriptsAndTags:state=>state.scriptsAndTags.loading,
            }),
            header_tags: {
                get(){return this.$store.state.pages.scriptsAndTags.head||''},
                set(head){this.$store.commit('pages/updateScriptsAndTags',{head});}
            },
            footer_tags: {
                get(){return this.$store.state.pages.scriptsAndTags.foot||''},
                set(foot){this.$store.commit('pages/updateScriptsAndTags',{foot});}
            },
            editingScriptsAndTags: {
                get(){return this.$store.state.pages.scriptsAndTags.editing;},
                set(editing){this.$store.commit('pages/updateScriptsAndTags',{editing});}
            },
            treeView:{
                get(){return this.view === VIEW_TREE;},
                set(value){this.view=value?VIEW_TREE:VIEW_ALPHA}
            },
            listView:{
                get(){return this.view === VIEW_LIST;},
                set(value){this.view=value?VIEW_LIST:VIEW_TREE}
            },
        },
        methods: {
            editScriptsAndTags(){
                this.$store.dispatch('pages/getScriptsAndTags');
                this.editingScriptsAndTags = true;
            },
            updateScriptsAndTags(){
                // this.editingScriptsAndTags = false;
                this.$store.dispatch('pages/saveScriptsAndTags');
            },
            saveChanges(){
                if(!this.saving) this.$store.dispatch('pages/saveChanges');
            },
            clearPageCache(){
                if(!this.clearingCache) this.$store.dispatch('pages/clearPageCache');
            },
            warnOfChangesBeforeLeaving(event){
                console.log('warnOfChangesBeforeLeaving');
                console.log(this.changed);
                if(this.changed){
                    // Cancel the event
                    event.preventDefault();
                    // Chrome requires returnValue to be set
                    event.returnValue = 'You have unsaved changes; are you sure you want to leave?';
                    return "You have unsaved changes; are you sure you want to leave?";
                }
            },
        },
    }
</script>
