<template>
    <div>
        <div class="buttons">
            <button class="button" :class="{'is-loading':clearingCache}" @click="clearPageCache">Clear Page Cache</button>
            <button class="button" :class="{'is-loading':saving,'is-warning':changed}" :disabled="!changed" @click="saveChanges">{{changed?'Save changes':'No changes'}}</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['clearingCache','saving','changed'],
        methods: {
            saveChanges(){
                this.$emit('saveChanges');
            },
            clearPageCache(){
                this.$emit('clearPageCache');
            },
        },
    }
</script>
