<template>
    <b-table ref="table"
             class="has-margin-bottom-size-3"
             :data="tableRows"
             :draggable="draggable"
             :striped="true"
             :mobile-cards="true"
             :show-detail-icon="false"
             :loading="loading"
             detailed
             detail-key="id"
             @dragover="dragover"
             @dragleave="dragleave"
             @dragstart="dragstart"
             @drop="drop">
        <template slot-scope="{row}">
            <b-table-column label="Open" :class="{'is-placeholder-row':row.placeholder}">
                <button v-if="row.root || row.deleted" class="button is-text" disabled>
                    <b-icon icon="rectangle" v-for="n in row.depth" :key="n"></b-icon>
                    <b-icon :icon="row.open?'menu-down':'menu-right'"></b-icon>
                </button>
                <button v-else class="button is-text" :title="row.open||row.placeholder?'close':'open'" @click="toggleRowOpen(row)" :class="{'is-loading':row.loading}">
                    <b-icon icon="rectangle" v-for="n in row.depth" :key="n"></b-icon>
                    <b-icon :icon="row.placeholder?'menu-up':(row.open?'menu-down':'menu-right')"></b-icon>
                </button>
            </b-table-column>
            <b-table-column field="title" label="Title" :class="{'is-placeholder-row':row.placeholder}" :colspan="row.placeholder?3:1">
                <span v-if="row.placeholder" style="vertical-align: sub;">{{row.title}}</span>
                <a v-else-if="row.exists" class="button is-text" target="_blank" title="Open in new tab" :href="row.path">
                    <span>{{row.title}}</span>
                    <b-icon icon="open-in-new"></b-icon>
                </a>
                <span v-else class="button is-text">{{row.title}}</span>
            </b-table-column>
            <b-table-column field="path" label="Path" v-if="!row.placeholder">
                {{row.path}}
            </b-table-column>
            <b-table-column label="Controls" centered v-if="!row.placeholder">
                <div v-if="row.deleted" class="buttons is-right">
                    <button class="button is-danger" @click.prevent="restoreBranch(row)">
                        <b-icon icon="file-restore"></b-icon><span>Restore</span>
                    </button>
                </div>
                <div v-else class="field is-grouped is-grouped-right">
                    <p class="control">
                        <button v-if="row.permissions.update || row.permissions.delete" class="button" :class="row.changed ? 'is-warning' :'is-primary'" @click="editRow(row)" :disabled="editingRow===row.id && editingMode === 'edit'">
                            <b-icon icon="pencil"></b-icon><span>Edit</span>
                        </button>
                    </p>
                    <p class="control">
                        <button v-if="row.permissions.createSubPages" class="button is-primary" @click="addSubpageForRow(row)" :disabled="editingRow===row.id && editingMode === 'add'">
                            <b-icon icon="file-plus"></b-icon><span>Add {{row.root?'':'sub'}}page</span>
                        </button>
                    </p>
                </div>
            </b-table-column>
        </template>

        <template slot-scope="{row}" slot="detail">
            <div class="is-relative">
                <button class="delete is-top-right" @click="closeEditor"></button>
                <form @submit.prevent="updatePage" v-if="editingMode==='edit'">
                    <h3 class="label">Edit Page</h3>
                    <div class="field is-horizontal" v-if="!row.deleted && row.permissions.update">
                        <div class="field-label"><label for="edit-title" class="label">Title</label></div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" id="edit-title" type="text" v-model="editingPage.title">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal" v-if="!row.root && !row.deleted && row.permissions.update">
                        <div class="field-label"><label for="edit-path" class="label">Path</label></div>
                        <div class="field-body">
                            <div class="field has-addons">
                                <p class="control">
                                    <span class="button is-static">{{editingPage.parentPath}}/</span>
                                </p>
                                <p class="control is-expanded">
                                    <input id="edit-path" class="input" :class="{'is-danger':!canSavePathChanges}" type="text"
                                           pattern="^[^\/,?:@&=+$#]+$"
                                           v-model="editingPage.path"
                                           title="Path cannot contain these characters: /,?:@&=+$#" ref="editPath"
                                           :maxlength="768-editingPage.parentPath.length" required>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal" v-if="!row.deleted && row.permissions.update">
                        <div class="field-label"><label for="edit-redirect" class="label">Redirect</label></div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" id="edit-redirect" v-model="editingPage.redirect" placeholder="URL or path">
                                </p>
                                <p class="help">Leave blank to not redirect.</p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal" v-if="!row.root && !row.deleted && row.permissions.publish">
                        <label class="field-label"></label>
                        <div class="field-body">
                            <div class="field is-grouped">
                                <p class="control">
                                    <label><input type="checkbox" v-model="editingPage.published"> <span>Published</span></label>
                                </p>
                                <p class="control">
                                    <label><input type="checkbox" v-model="editingPage.in_nav" :disabled="!editingPage.published && !editingPage.in_nav"> <span>In Nav</span></label>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <label class="field-label"></label>
                        <div class="field-body">
                            <div class="field is-grouped">
                                <div class="control is-expanded" v-if="row.permissions.publish || row.permissions.update">
                                    <button class="button is-primary">Confirm</button>
                                    <button type="button" class="button is-warning" @click="closeEditor"><b-icon icon="cancel"></b-icon><span>Cancel</span></button>
                                </div>
                                <div class="control" v-if="!row.root && row.permissions.delete">
                                    <button class="button is-danger" @click.prevent="deleteBranch">
                                        <b-icon icon="file-remove"></b-icon><span>Delete</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form @submit.prevent="addPage" class="field" v-else>
                    <label class="label">Add {{row.root?'':'sub-'}}page</label>
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" v-model="addPageName" placeholder="Page title" :disabled="addingPage">
                        </div>
                        <div class="control">
                            <button class="button" type="submit" :disabled="addingPage" title="Add">
                                <b-icon icon="check"></b-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </template>
    </b-table>
</template>

<script>
    import {mapState,mapGetters} from 'vuex';

    export default {
        props: {draggable:Boolean},
        data(){
            return {
                editingRow: null,
                editingMode: null,
                draggingRow: null,
                draggingRowIndex: null,
                hoveringOver: null,
                hoverTimer: null,
                hoveringRow: null,
                addPageName:'',
                editingPage: {
                    title: null,
                    parentPath: null,
                    path: null,
                    in_nav: null,
                    published: null,
                    redirect:null,
                },
            }
        },
        computed: {
            ...mapState('pages', {
                loading: state => state.saving,
                addingPage: state => state.addingPage,
                pagesList: state => state.pages || [],
                homepage: state => state.pages[0] || {},
                changed: state => _.some(state.pages, 'changed'),
                clearingCache: state => state.clearingCache,
                saving: state => state.saving,
            }),
            tableRows(){
                let root = _.find(this.$store.state.pages.pages,{root:true});

                if(!root) return [];

                let rows = [];
                let pushPage;
                pushPage = page=>{
                    rows.push(page);
                    if(page.open && !page.loading){
                        _.each(this.$store.getters['pages/subpages'](page.id),pushPage);
                        if(!page.root){
                            rows.push({placeholder:true,pageId:page.id,title:'end '+page.path,depth:page.depth});
                        }
                    }
                };
                pushPage(root);
                return rows;
            },
            canSavePathChanges(){
                return this.editingPage.path.match(/^[^\/,?:@&=+$#]+$/);
            },
        },
        methods: {
            ...mapGetters('pages',['pageIsLoading']),
            editRow(row){
                if(this.editingRow){
                    this.toggleEditingRow();
                }
                this.editingRow = row.id;
                this.editingMode = 'edit';
                let pathParts = row.path.split('/');
                this.editingPage = {
                    title: row.title,
                    path: pathParts.pop(),
                    parentPath: pathParts.join('/'),
                    in_nav: row.in_nav,
                    published: row.published,
                    redirect: row.redirect_url,
                };
                this.$refs.table.toggleDetails(row);
            },
            addSubpageForRow(row){
                if(this.editingRow){
                    this.toggleEditingRow();
                }
                this.editingRow = row.id;
                this.editingMode = 'add';
                if(!row.open) this.toggleRowOpen(row);
                this.addPageName = '';
                this.$refs.table.toggleDetails(row);
            },
            addPage () {
                let parent = _.find(this.pagesList,{id:this.editingRow});
                this.$store.dispatch('pages/addPage',{parent, title:this.addPageName});
                this.addPageName = '';
            },
            updatePage(){
                this.$store.commit('pages/updatePage',{
                    id:this.editingRow,
                    title:this.editingPage.title,
                    in_nav:this.editingPage.in_nav,
                    published:this.editingPage.published,
                    redirect_url:this.editingPage.redirect,
                });
                let page = this.$store.getters['pages/page'](this.editingRow);
                if(this.editingPage.path !== page.uriSegment){
                    this.updatePagePath(page,_.pick(this.editingPage,['path']));
                }
                this.closeEditor();
            },
            closeEditor(){
                if(this.editingRow){
                    this.toggleEditingRow();
                    this.editingRow = null;
                    this.editingMode = null;
                }
            },
            toggleEditingRow(){
                this.$refs.table.toggleDetails(_.find(this.pagesList,{id:this.editingRow}));
            },
            updatePagePath(page, {path:uriSegment}){
                this.$store.dispatch('pages/updatePagePath',{..._.pick(page,['id','parentId','path']),uriSegment});
            },
            dragstart (payload) {
                if(_.some(_.at(payload.row,['placeholder','root','deleted'])) || !_.get(payload.row,'permissions.update',false)){
                    payload.event.preventDefault();
                } else {
                    payload.event.target.closest('tr').classList.add('is-selected');
                    this.draggingRow = payload.row;
                    this.draggingRowIndex = payload.index;
                    if(this.draggingRow.open){
                        this.$store.commit('pages/updatePage',{id:this.draggingRow.id,open:false});
                    }
                    payload.event.dataTransfer.effectAllowed = 'move';
                }
            },
            dragover(payload) {
                payload.event.preventDefault();
                payload.event.dataTransfer.dropEffect = 'move';
                let hoverRow = payload.event.target.closest('tr');
                if(hoverRow) {
                    let hoverIndex = _.indexOf(hoverRow.parentNode.children,hoverRow);
                    if(hoverIndex === -1) return;
                    let hoverRowData = this.tableRows[hoverIndex];
                    let parent;
                    if(hoverRowData.placeholder){
                        let followAfter = this.$store.getters['pages/page'](hoverRowData.pageId);
                        parent = this.$store.getters['pages/page'](followAfter.parentId);
                    } else if(hoverRowData.open){
                        parent = hoverRowData;
                    } else {
                        parent = this.$store.getters['pages/page'](hoverRowData.parentId);
                    }
                    if(_.get(parent,'permissions.createSubPages')){
                        hoverRow.classList.add('dragover-drop-below');
                    }
                }
            },
            dragleave(payload) {
                payload.event.preventDefault();
                // if(this.hoverTimer){
                //     clearTimeout(this.hoverTimer);
                //     this.hoverTimer = null;
                // }
                // this.hoveringRow = null;
                let leftRow = payload.event.target.closest('tr');
                if(leftRow) leftRow.classList.remove('dragover-drop-below');
            },
            drop(payload) {
                payload.event.target.closest('tr').classList.remove('dragover-drop-below');
                this.$refs.table.$el.querySelector('.is-selected').classList.remove('is-selected');
                let droppedOnRowIndex = payload.index;
                if(droppedOnRowIndex === this.draggingRowIndex || droppedOnRowIndex===this.draggingRowIndex-1) return true;
                let dropRow = payload.row;

                let page = this.draggingRow;
                let update,followAfter;
                if(dropRow.placeholder){
                    followAfter = this.$store.getters['pages/page'](dropRow.pageId);
                    let parent = this.$store.getters['pages/page'](followAfter.parentId);
                    update = {page,parent};
                } else if(dropRow.open){
                    update = {page,parent:dropRow,priority:0};
                } else {
                    let parent = this.$store.getters['pages/page'](dropRow.parentId);
                    followAfter = this.$store.getters['pages/page'](dropRow.id);
                    update = {page,parent};
                }

                if(!_.get(update.parent,'permissions.createSubPages',false)) return false;

                let siblings = _.reject(this.$store.getters['pages/subpages'](page.parentId),{id:page.id});
                _.each(siblings,(sibling,priority)=>this.$store.commit('pages/updatePage',{id:sibling.id,priority}));

                if(followAfter){
                    update.priority = followAfter.priority + 1;
                }

                this.$store.dispatch('pages/updatePageParent',update);

            },
            toggleRowOpen(row){
                if(row.placeholder) row = _.find(this.pagesList,{id:row.pageId});
                this.$store.dispatch('pages/openPage',{pageId:row.id,open:!row.open});
            },
            restoreBranch(row){
                let page = _.find(this.pagesList,{id:row.id});
                this.$store.commit('pages/updatePage',{id:page.id, deleted:false, open:_.some(this.pagesList,{parentId:row.id})});
            },
            deleteBranch(){
                let page = _.find(this.pagesList,{id:this.editingRow});
                this.$buefy.dialog.confirm({
                    message: 'Are you sure you want to delete this page and all its descendents?',
                    onConfirm: ()=>{
                        this.$store.dispatch('pages/deletePage',page);
                        this.toggleEditingRow();
                        this.editingRow = null;
                    }
                });
            },
        },
    }
</script>