<template>
    <div class="file-image">
        <img :src="key" :alt="info.filename">
    </div>
</template>

<script>
    export default {
        name: 'file-image',
        props: ['image'],
        computed: {
            key () {
              return Object.keys(this.image)[0];
            },
            info () {
                return this.image[this.key];
            }
        }
    }
</script>