<template>
    <div>
        <slot></slot>
    </div>
</template>

<script>
    export default {
        props: ['bowlName'],
        data () {
            return {
                loaded: false,
            };
        },
        components: {
        },
        computed: {
            components(){
                if(this.loaded){
                    return this.$parent.component.bowls[this.bowlName].components;
                } else return [];
            }
        },
        methods: {
        },
        mounted () {
        },
    }
</script>