<template>
    <div class="layout-manager container is-fullwidth is-fullheight is-flex is-flex-column">
        <label class="label" :for="id('layout')">Layout Root</label>
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="field">
                        <div class="control">
                            <div class="select">
                                <select :id="id('layout')" v-model="layout">
                                    <option v-for="layout in layoutOptions" :value="layout.name">{{ layout.displayName }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="control">
                        <button class="button" @click="refreshComponentCache">
                            <b-icon icon="refresh"></b-icon> <span>Refresh</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="is-flexible-size is-overflow-auto">
            <b-table ref="table"
                     :data="tableRows"
                     draggable
                     mobile-cards
                     is-narrow
                     @dragover="dragover"
                     @dragleave="dragleave"
                     @dragstart="dragstart"
                     @drop="drop">
                <template slot-scope="{row}">
                    <b-table-column label="Name" :class="{'is-placeholder-row':row.placeholder}">
                        <b-icon icon="drag-vertical" v-if="row.component"></b-icon>
                        <b-icon icon="rectangle" size="is-small" v-for="n in (row.component?row.depth-1:row.depth)" :key="n"></b-icon>
                        <span v-if="row.placeholder">/</span>
                        <b-icon :icon="row.bowl?(row.bowl.orphan?'fishbowl-outline':'fishbowl'):'fish'"></b-icon>
                        <span v-if="row.bowl">{{row.bowl.name + (row.bowl.orphan?' (orphaned)':'')}}</span>
                        <span v-else-if="row.component">{{row.component.displayName}}</span>
                        <span v-else>{{row.placeholder.displayName}}</span>
                    </b-table-column>
                    <b-table-column :class="{'is-placeholder-row':row.placeholder}" class="has-text-right">
                        <button v-if="row.component" class="button is-warning is-small" @click="removeComponent(row)"><b-icon icon="jellyfish" size="is-small"></b-icon> <span>Remove</span></button>
                        <b-dropdown v-else-if="row.bowl && !row.bowl.orphan" position="is-bottom-left" aria-role="menu">
                            <button class="button is-info is-small" slot="trigger"><b-icon icon="fish" size="is-small"></b-icon> <span>Add Component</span></button>
                            <b-dropdown-item aria-role="listitem" v-for="component in availableComponents" :key="component.name" @click="addComponent(component,row.bowl)">
                                {{component.displayName}}
                            </b-dropdown-item>
                        </b-dropdown>
                        <template slot="header" slot-scope="{ column }"></template>
                    </b-table-column>
                </template>
            </b-table>
            <!--            <lf-tree-bowl :componentId="layoutComponent.id" :bowlName="firstBowl"></lf-tree-bowl>-->
            <!--            <draggable v-model="rows" @start="dragStart" @end="dragEnd" ghost-class="layout-ghost">-->
            <!--                <lf-layout-row v-for="row in rows" :row="row" :key="row.id"></lf-layout-row>-->
            <!--            </draggable>-->
        </div>
        <div class="form-control">
            <button class="button" :class="{'is-loading':saving}" @click.prevent="saveComponents">
                Save Components
            </button>
        </div>
    </div>
</template>

<script>
    import scopedId from '@/mixins/scopedId';
    import { mapGetters, mapActions } from 'vuex';
    import Draggable from "vuedraggable";
    import BDropdown from "buefy/src/components/dropdown/Dropdown";

    let quickKey = ()=>_.uniqueId(Date.now()+'_');

    export default {
        components: {BDropdown, Draggable},
        mixins: [scopedId],
        data () {
            return {
                lastUpdate:Date.now()+Math.random(),
                draggingComponent: null,
                draggingIndex: null,
            }
        },
        computed: {
            ...mapGetters('page',['ready','saving']),
            layoutComponent(){
                return _.first(this.$store.getters['page/treeBowl']({parent_component_id:null}));
            },
            layout:{
                get(){
                    return this.layoutComponent.name;
                },
                set(newLayout){
                    this.$store.commit('page/swapLayout',{newLayout,oldLayout:this.layoutComponent});
                }
            },
            availableLayouts(){
                return this.$store.state.page.page.availableLayouts||[];
            },
            layoutOptions(){
                return _.some(this.availableLayouts, l=>l.name === this.layout) ? this.availableLayouts : [this.layoutComponent, ...this.availableLayouts];
            },
            bowls () {
                return _.union(this.layoutComponent.bowls,_.map(this.$store.getters['page/treeBowl']({parent_component_id:this.layoutComponent.id}),c=>c.bowl));
            },
            firstBowl(){
                return _.first(this.bowls);
            },
            tableRows:{
                get(){
                    let rows = [];
                    let pushComponent = (component,depth=0,orphan=false)=>{
                        // console.log(component.name,component===this.draggingComponent,component,this.draggingComponent);
                        rows.push({component,draggable:true,id:'component'+component.id,depth,canDrop:!component.bowls.length && !orphan});
                        if(component !== this.draggingComponent && component.bowls.length){
                            _.each(component.bowls,bowl=>pushBowl(component,bowl,depth+1,orphan));
                            rows.push({placeholder:component,draggable:false,id:'/component'+component.id,depth,canDrop:!orphan});
                        }
                    };
                    let pushBowl = (component,bowlName,depth=0,orphan=false)=>{
                        orphan = orphan || component.bowls.indexOf(bowlName) === -1;
                        let bowl = {
                            parent:component,
                            name:bowlName,
                            components: this.$store.getters['page/treeBowl']({parent_component_id:component.id,bowl:bowlName}),
                            orphan,
                        };
                        rows.push({bowl,draggable:false,id:'bowl'+component.id+bowlName,depth,canDrop:!orphan});
                        _.each(_.sortBy(bowl.components,'order'),component=>pushComponent(component,depth+1,orphan));
                    };
                    _.each(this.bowls,bowl=>pushBowl(this.layoutComponent,bowl,0));
                    return rows;
                },
                set(rows){
                    console.log(rows);
                }
            },
            availableComponents () {
                return this.$store.state.page.page.availableComponents;
            },
        },
        methods: {
            ...mapActions('page',[
                'refreshComponentCache'
            ]),
            saveComponents () {
                if (!this.saving) {
                    this.$store.dispatch('page/saveComponentTree');
                }
            },
            dragover(payload){
                payload.event.preventDefault();
                payload.event.dataTransfer.dropEffect = 'move';
                let hoverRow = payload.event.target.closest('tr');

                if(hoverRow && payload.row.canDrop &&
                    payload.index !== this.draggingIndex &&
                    payload.index !== this.draggingIndex-1
                ) {
                    hoverRow.classList.add('dragover-drop-below');
                }
            },
            dragleave(payload){
                payload.event.preventDefault();
                let leftRow = payload.event.target.closest('tr');
                if(leftRow) leftRow.classList.remove('dragover-drop-below');
            },
            dragstart(payload) {
                if(!payload.row.draggable) payload.event.preventDefault();
                else {
                    payload.event.target.closest('tr').classList.add('is-selected');
                    this.draggingComponent = payload.row.component;
                    this.draggingIndex = payload.index;
                    payload.event.dataTransfer.effectAllowed = 'move';
                }
            },
            drop(payload){
                let draggedComponent = this.draggingComponent;
                this.draggingComponent = null;
                payload.event.target.closest('tr').classList.remove('dragover-drop-below');
                this.$refs.table.$el.querySelector('.is-selected').classList.remove('is-selected');

                if(!payload.row.canDrop ||
                    payload.index === this.draggingIndex ||
                    payload.index===this.draggingIndex-1
                ) return true;

                let dropRow = payload.row;
                let location;
                if(dropRow.bowl){
                    location = {parent_component_id:dropRow.bowl.parent.id,bowl:dropRow.bowl.name,order:0}
                } else {
                    let component = dropRow.placeholder || dropRow.component;
                    location = _.pick(component,['parent_component_id','bowl','order']);
                    location.order++;
                }
                this.$store.dispatch('page/dropComponentAtLocation',{component:draggedComponent,location});
            },
            addComponent (template,rowBowl) {
                this.$store.commit('page/addComponent',{template,parent:{parent_component_id:rowBowl.parent.id,bowl:rowBowl.name}});
            },
            removeComponent(row) {
                this.$store.commit('page/removeComponent',row.component);
            },

        },
    }
</script>