<template>
    <div class="level is-relative">
        <button class="delete is-top-right" @click="remove"></button>
        <div class="level-item">
            <div class="field">
                <label class="label" :for="id('name')">Name</label>
                <div class="control">
                    <input type="text" class="input" :class="{'is-danger':!name && !property}" :id="id('name')" placeholder="Meta Name" v-model="name">
                </div>
            </div>
        </div>
        <div class="level-item">
            <div class="field">
                <label class="label" :for="id('property')">Property</label>
                <div class="control">
                    <input type="text" class="input" :class="{'is-danger':!property}" :id="id('property')" placeholder="og:property" v-model="property">
                </div>
            </div>
        </div>
        <div class="level-item">
            <div class="field">
                <label class="label" :for="id('value')">Value</label>
                <div class="control">
                    <input type="text" class="input" :class="{'is-danger':!value}" :id="id('value')" placeholder="Meta Value" v-model="value">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import scopedId from '@/mixins/scopedId';
    export default {
        mixins: [scopedId],
        props: ['tag'],
        computed: {
            name:{
                get(){
                    return this.tag.name;
                },
                set(name){
                    this.$store.commit('page/updateMetaTagSetting',{tag:this.tag, name});
                }
            },
            property: {
                get(){
                    return this.tag.property;
                },
                set(property){
                    this.$store.commit('page/updateMetaTagSetting',{tag:this.tag, property});
                }
            },
            value:{
                get(){
                    return this.tag.value;
                },
                set(value){
                    this.$store.commit('page/updateMetaTagSetting',{tag:this.tag, value});
                }
            },
        },
        methods: {
            remove(){
                this.$store.commit('page/removeMetaTag',this.tag);
            }
        },
    }
</script>