<template>
    <section :class="{'larafish-page-settings':true, 'active': active}">
        <div class="page-settings-wrapper is-relative">
            <a class="delete is-medium" @click="close"></a>
            <div class="is-flex is-flex-column is-fullheight">
                <div class="notification is-info level" v-if="reload">
                    <div class="level-left">
                        <div class="level-item">
                            Please reload the page to see page changes.
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <button class="button" @click="reloadPage">Reload</button>
                        </div>
                    </div>
                </div>
                <b-tabs v-model="settingsTab" type="is-boxed" v-if="ready" class="is-flex is-flex-column is-fullheight has-fullheight-tab-content">
                    <b-tab-item v-if="canEdit" label="Settings" icon="settings">
                        <lf-settings-manager></lf-settings-manager>
                    </b-tab-item>
                    <b-tab-item v-if="canEdit" label="Layout" icon="chart-tree">
                        <lf-layout-manager></lf-layout-manager>
                    </b-tab-item>
                    <b-tab-item v-if="canVersion" label="Versions" icon="content-duplicate">
                        <lf-version-manager></lf-version-manager>
                    </b-tab-item>
                </b-tabs>
            </div>
        </div>
        <lf-admin-navigation-widget prepend v-if="changed">
            <button @click.prevent="savePage" class="button is-primary" :class="{'is-loading':saving}" :disabled="saving">
                <b-icon icon="content-save-all"></b-icon>
                <span>Save Changes</span>
            </button>
        </lf-admin-navigation-widget>
        <lf-admin-navigation-widget>
            <lf-page-settings-menu></lf-page-settings-menu>
        </lf-admin-navigation-widget>
    </section>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import pageStore from '@/store/modules/page';
    export default {
        props: {
            versionId: Number,
        },
        computed: {
            ...mapGetters('page',['saving','ready','reload','canEdit','canVersion','changed']),
            active(){
                return this.$store.state.page.settingsOpen;
            },
            page () {
                return this.$store.state.page.page;
            },
            settingsTab:{
                get(){
                    let tabs = {settings:0,layout:1,version:this.canEdit?2:0};
                    let tab = tabs[this.$store.state.page.settingsTab];
                    if(tab !== undefined) return tab;
                    return 0;
                },
                set(value){
                    let tabs = [...(this.canEdit?['settings','layout']:[]),...(this.canVersion?['version']:[])];
                    this.$store.commit('page/settingsTray',{settingsTab:tabs[value]});
                }
            }
        },
        methods: {
            ...mapActions('page',['savePage']),
            reloadPage(){
                location.reload();
            },
            close () {
                this.$store.commit('page/settingsTray',{settingsOpen:false});
            },
        },
        beforeCreate () {
            this.$store.registerModule('page',pageStore);
        },
        mounted(){
            this.$store.dispatch('page/load',this.versionId);
        },
    }
</script>