<template>
    <b-navbar-dropdown is-up is-hoverable is-right>
        <template v-slot:trigger>
            <b-icon icon="book" size="is-small"></b-icon>
            <span>Page controls</span>
        </template>
        <a v-if="canEdit" @click.prevent="editPage" class="navbar-item" :disabled="!ready" :aria-disabled="!ready">
            <b-icon :icon="editing?'check':'pencil'" size="is-small"></b-icon>
            <span>Edit{{editing?'ing':''}}</span>
        </a>
        <a v-if="canEdit" @click.prevent="openTray('settings')" class="navbar-item">
            <b-icon icon="settings" size="is-small"></b-icon>
            <span>Settings</span>
        </a>
        <a v-if="canEdit" @click.prevent="openTray('layout')" class="navbar-item">
            <b-icon icon="chart-tree" size="is-small"></b-icon>
            <span>Layout</span>
        </a>
        <a v-if="canVersion" @click.prevent="openTray('version')" class="navbar-item">
            <b-icon icon="content-duplicate" size="is-small"></b-icon>
            <span>Versions</span>
        </a>
        <a @click.prevent="savePage" class="navbar-item" v-if="changed">
            <b-icon icon="content-save-all" size="is-small"></b-icon>
            <span>Save Page</span>
        </a>
    </b-navbar-dropdown>
</template>

<script>
    // import pageStore from '@/store/modules/page';
    import { mapGetters } from 'vuex';
    export default {
        computed: {
            ...mapGetters('page',['ready','editing','changed','canEdit','canVersion']),
        },
        methods: {
            editPage(){
                if(this.editing && this.changed){
                    this.$dialog.confirm({
                        message: 'Do you want to discard your changes?',
                        onConfirm: () => this.$store.commit('page/editing',!this.editing)
                    });
                } else {
                    this.$store.commit('page/editing',!this.editing);
                }
            },
            openTray(tab){
                this.$store.commit('page/settingsTray',{settingsOpen:true,settingsTab:tab});
            },
            savePage(){
                this.$store.dispatch('page/savePage');
            }
        },
        // beforeCreate () {
        //     this.$store.registerModule('page',pageStore);
        // },
    }
</script>