<template>
    <div v-if="pageModified" class="save-page-bar">
        <div id="save-page-text">{{savePageText}}</div>

        <div v-show="!confirmingDiscard"><button id="save_page" class="button" @click.prevent="savePage">Save Page</button></div>
        <div v-show="!confirmingDiscard"><button id="discard_page" class="button secondary" @click.prevent="discardChanges">Discard Page</button></div>

        <div v-show="confirmingDiscard"><button id="confirm_discard" @click.prevent="confirmDiscard" class="button">Yes</button></div>
        <div v-show="confirmingDiscard"><button id="cancel_discard" @click.prevent="cancelDiscard" class="button secondary">No</button></div>
    </div>
</template>

<script>
    import axios from 'axios';
    import listeners from '@/mixins/listeners';
    export default {
        mixins: [listeners],
        listeners() {
            return {
                'page-changed': this.pageChanged
            }
        },
        data () {
          return {
              pageModified: false,
              confirmingDiscard: false,
              discardConfirmed: false,
              beforeUnload: event=>this.leavePageCheck(event), // scope the function
          }
        },
        computed: {
            savePageText(){
                return this.confirmingDiscard ? 'Are you sure you want to discard the page changes?' : 'Page Updated!';
            }
        },
        components: {
        },
        methods: {
            pageChanged () {
                this.pageModified = true;
                window.addEventListener("beforeunload", this.beforeUnload);
            },
            savePage(){
                let pathname = window.location.pathname;
                if(pathname === '/') pathname = '/%2F'; // Homepage
                axios.put('/admin/api'+pathname+'.json',)
                    .then(response => {
                        // this.settings = response.data;
                        this.page = response.data;

                        if (this.page.meta_tags === null || this.page.meta_tags === undefined) {
                            this.page.meta_tags = [{name: '', value: ''}];
                        } else if (typeof this.page.meta_tags !== 'object') {
                            this.page.meta_tags = JSON.parse(this.page.meta_tags);
                        }

                        this.$eventBus.pageData = this.page;
                        this.$eventBus.$emit('set-page-settings', this.page);
                    });
            },
            leavePageCheck(event){
                if(this.pageModified && !this.discardConfirmed){
                    event.preventDefault();
                    return 'Are you sure you want to leave the page? Your changes will not be saved';
                }
            },
            discardChanges(){
                this.confirmingDiscard = true;
            },
            confirmDiscard(){
                this.discardConfirmed = true;
                location.reload();
            },
            cancelDiscard(){
                this.confirmingDiscard = false;
            }
        },
    }
</script>