<template>
    <div class="container is-fullwidth">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h2 class="is-size-2">Page</h2>
                </div>
            </div>
            <div class="level-item">
                <hr style="width: 85%;">
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" v-model="published">
                            Published
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label" :for="id('nav_title')">Navigation Title</label>
            <div class="control">
                <input type="text" class="input" :id="id('nav_title')" v-model="nav_title">
            </div>
            <p class="help">Title of links to this page in dynamic navigation menus.</p>
        </div>
        <div class="field">
            <label class="label" :for="id('redirect_url')">Redirect Url</label>
            <div class="control">
                <input type="text" class="input" :id="id('redirect_url')" placeholder="No redirect" v-model="redirect_url">
            </div>
            <p class="help">/redirect-path or https://redirect.to/destination or empty for no redirect.</p>
        </div>
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h3 class="is-size-3">Version</h3>
                </div>
            </div>
            <div class="level-item">
                <hr style="width: 85%;">
            </div>
            <div class="level-right">
                <div class="level-item">
                    {{version}}
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label" :for="id('title')">Title</label>
            <div class="control">
                <input type="text" class="input" :id="id('title')" placeholder="Page Title" v-model="title">
                <p class="help is-danger" v-if="!title">Title cannot be empty</p>
            </div>
        </div>

        <div class="field">
            <b-collapse :open="false" class="card" :aria-id="id('meta_tags')">
                <template v-slot:trigger="props">
                    <div class="card-header" role="button" :aria-controls="id('meta_tags')">
                        <p class="card-header-title">
                            Meta Tags ({{meta_tags_count}})
                        </p>
                        <a class="card-header-icon">
                            <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"></b-icon>
                        </a>
                    </div>
                </template>
                <div class="card-content">
                    <div class="content">
                        <lf-meta-tag-settings v-for="tag in meta_tags" :key="tag.key" :tag="tag"></lf-meta-tag-settings>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item" @click="addMeta">Add Meta Tag</a>
                </footer>
            </b-collapse>
        </div>
        
        <div class="field">
            <div class="control">
                <button class="button" :class="{'is-loading':saving}" :disabled="saving"  @click.prevent="saveSettings">
                    Save Settings
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import scopedId from '@/mixins/scopedId';
    import BCollapse from "buefy/src/components/collapse/Collapse";
    export default {
        mixins: [scopedId],
        components: {BCollapse},
        computed: {
            ...mapGetters('page',['ready','saving']),
            settings(){
                return this.$store.state.page.settings;
            },
            title:{
                get(){
                    return this.settings.title;
                },
                set(value){
                    this.$store.commit('page/updateSettings',{title:value});
                }
            },
            published:{
                get(){
                    return this.settings.published;
                },
                set(value){
                    this.$store.commit('page/updateSettings',{published:value});
                }
            },
            nav_title:{
                get(){
                    return this.settings.nav_title;
                },
                set(value){
                    this.$store.commit('page/updateSettings',{nav_title:value});
                }
            },
            redirect_url:{
                get(){
                    return this.settings.redirect_url;
                },
                set(value){
                    this.$store.commit('page/updateSettings',{redirect_url:value});
                }
            },
            meta_tags(){
                return this.settings.meta_tags;
            },
            meta_tags_count(){
                return _.filter(this.meta_tags,tag=>tag.name && tag.value).length;
            },
            version(){
                if(!this.ready) return '';
                return this.$store.state.page.page.version.active ? 'Active' : 'Version ' + this.$store.state.page.page.version.created_at;
            }
        },
        methods: {
            saveSettings () {
                this.$store.dispatch('page/saveSettings');
            },
            addMeta () {
                this.$store.commit('page/addMetaTag');
            },
        },
    }
</script>