<template>
    <div class="level">
        <div class="level-left">
            <p class="level-item">
                <a :href="pagePath" class="button" :class="{'is-text':!isCurrent,'is-outline':isCurrent}">
                    <span>{{version.name}}</span>
                    <b-icon v-if="isCurrent" title="Current" icon="star" size="is-small"></b-icon>
                </a>
            </p>
        </div>
        <div class="level-right">
            <p class="level-item" v-if="version.canPublish">
                <button class="button is-primary is-outlined" @click="publish"><b-icon icon="file-replace"></b-icon> <b>Publish</b></button>
            </p>
            <p class="level-item" v-if="version.canDelete">
                <button class="button is-danger is-outlined" @click="destroy"><b-icon icon="file-remove"></b-icon> <b>Delete</b></button>
            </p>
        </div>
    </div>

</template>

<script>
    export default {
        props: ['version'],
        computed: {
            pagePath(){
                return this.$store.state.page.page.path +
                    (this.version.active ? '' : '?page_version='+this.version.id);
            },
            isCurrent(){
                return this.version.id === this.$store.state.page.page.version.id;
            }
        },
        methods: {
            publish(){
                this.$store.dispatch('page/publishVersion',this.version)
            },
            destroy(){
                this.$buefy.dialog.confirm({
                    // title: 'Deleting account',
                    message: 'Are you sure you want to <b>delete</b> this version?<br>'+this.version.name+'<br> This action cannot be undone.',
                    confirmText: 'Delete Version',
                    type: 'is-danger',
                    hasIcon: true,
                    onConfirm: () => this.$store.dispatch('page/deleteVersion',this.version)
                });
            }
        }
    }
</script>