<template>
    <div class="version-manager container is-fullwidth">
        <div class="field">
            <div class="control">
                <button class="button is-primary is-outlined" @click="newBlank"><b-icon icon="book-open-variant"></b-icon> <span>Create new blank version</span></button>
                <button class="button is-primary is-outlined" @click="duplicate"><b-icon icon="content-duplicate"></b-icon> <span>Duplicate current version</span></button>
            </div>
        </div>
        <ul>
            <li v-for="version in versions">
                <lf-version-row :version="version"></lf-version-row>
            </li>
        </ul>
    </div>
</template>

<script>
    import LfVersionRow from "./lfVersionRow";
    export default {
        components: {LfVersionRow},
        // data () {
        //     return {
        //     }
        // },
        computed: {
            versions(){
                return this.$store.state.page.page.versions;
            }
        },
        methods: {
            newBlank(){
                this.$store.dispatch('page/newVersion');
            },
            duplicate(){
                this.$store.dispatch('page/newVersion',this.$store.state.page.page.version);
            }
        },
    }
</script>