<template>
    <form class="form announcement">
        <slot></slot>

        <input type="hidden" name="message" v-model="content"/>

        <b-field label="Message">
            <div ref="editableArea" class="medium-editor-element input">
                <slot></slot>
            </div>
        </b-field>

        <b-field label="Visible">
            <label for="published">
                <input id="published" type="checkbox" name="published" v-model="published">
                Yes
            </label>
        </b-field>

        <hr>

        <div class="field">
            <div class="control">
                <button type="submit" class="button is-primary">{{ page }}</button>
            </div>
        </div>
    </form>
</template>
<script>
    import MediumEditor from 'medium-editor';
    import { Settings } from '@/medium/contentArea';
    export default {
        props: ['announcement', 'errors', 'page'],
        data() {
            return {
                content: this.announcement ? this.announcement.message : '',
                published: this.announcement ? this.announcement.published : false,

                editor: null,
                settings: this.mediumSettings || Settings,
            }
        },
        watch: {
            content (newValue, oldValue) {
                // Only update editor content if newValue is not equal to editors current content
                // This stops recursion
                if (newValue !== this.editor.getContent() && newValue) {
                    this.editor.setContent(newValue);
                }
            }
        },
        mounted () {
            // Create editor
            this.editor = new MediumEditor(this.$refs.editableArea, this.settings);

            // Subscribe editor to input editing and set vuex data on edit
            this.editor.subscribe('editableInput', () => this.content = this.editor.getContent());

            this.editor.setContent(this.content);
        }
    }
</script>
<style lang="scss" scoped>
    .medium-editor-element {
        height: 200px !important;
        min-height: unset !important;
        overflow-y: auto !important;

        align-items: flex-start !important;
    }
</style>
