<template>
    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
        <thead></thead>
        <tbody>
            <tr>
                <th @click="checkAll" class="is-clickable"><b-icon icon="check-all"></b-icon></th>
                <th>Name</th>
                <th>Type</th>
                <th>Meta</th>
            </tr>
            <lf-folder-table-row v-for="folder in folders" :key="folder.path" :folder="folder"></lf-folder-table-row>
            <lf-files-table-row v-for="file in files" :key="file.path" :file="file" :disabled="moving"></lf-files-table-row>
            <tr v-if="!folders.length && !files.length">
                <th colspan="4" class="has-text-centered">
                    This folder is empty
                </th>
            </tr>
        </tbody>
    </table>
</template>

<script>
    import LfFolderTableRow from "./lfFolderTableRow";
    import {mapState, mapGetters} from 'vuex';
    export default {
        components: {LfFolderTableRow},
        computed: {
            ...mapState('files',{
                loading: state=>state.loading,
                folders: state=>state.folders,
                files: state=>state.files,
                moving: state=>state.move,
            }),
            ...mapGetters('files',[
                'filesAndFolders',
                'checked',
            ]),
            anyCheckedCanDelete(){
                return _.some(this.checked,beeble=>beeble.permissions.delete);
            },
            anyCheckedCanMove(){
                return _.some(this.checked,beeble=>beeble.permissions.update);
            }
        },
        methods:{
            checkAll(){
                let checked = !_.every(this.filesAndFolders,'checked');
                this.$store.commit('files/check',{files:this.files,folders:this.folders,checked})
            },
            deleteSelected(){
                this.$store.dispatch('files/deleteSelected');
            }
        }
    }
</script>