<template>
    <tr :class="{'is-selected':checked,'has-text-grey-light':disabled}">
        <td @click="checked = !checked" :class="{'is-clickable':!disabled}">
            <b-icon :icon="checked?'checkbox-marked-outline':'checkbox-blank-outline'"></b-icon>
        </td>
        <td>{{file.name}}</td>
        <td><b-icon :icon="file.icon" :title="mimeTypeIconTitle"></b-icon> <span>{{mimeTypeDisplay}}</span></td>
        <td>
            <b-icon :icon="lockIcon" :title="file.visibility" :type="file.visibility === 'public' ? 'is-success' : 'is-danger'"></b-icon>
            <b-icon icon="file-chart" :title="'Size: '+file.size"></b-icon>
            <b-icon icon="calendar-blank" :title="'Last Modified: '+lastModified"></b-icon>
        </td>
    </tr>
</template>

<script>
    export default {
        props: ['file','disabled'],
        computed: {
            checked:{
                get(){
                    return this.file.checked;
                },
                set(checked){
                    if(!this.disabled){
                        this.$store.commit('files/check',{files:[this.file],checked});
                    }
                }
            },
            mimeTypeIconTitle(){
                return _.split(this.file.mimeType,'/').shift();
            },
            mimeTypeDisplay(){
                return this.file.icon === 'file' ? this.file.mimeType : _.split(this.file.mimeType,'/').pop();
            },
            lockIcon(){
                if(this.file.visibility === 'public') return 'lock-open';
                else if(this.file.visibility === 'private') return 'lock';
                else return 'lock-question';
            },
            lastModified(){
                return new Date(this.file.lastModified * 1000).toLocaleString();
            }
        },
    }
</script>