<template>
    <div class="is-flex is-flex-wrap">
            <div class="card" v-for="folder in folders" :class="{'is-selected':folder.checked}">
                <p @click="folder.checked = !folder.checked" class="is-clickable">
                    <b-icon :icon="folder.checked?'checkbox-marked-outline':'checkbox-blank-outline'"></b-icon>
                </p>
                <p>{{folder.name}}</p>
                <p>Folder</p>
                    <div class="field has-addons has-addons-right">
                        <div class="control">
                            <button class="button is-small">Rename</button>
                        </div>
                    </div>
            </div>
            <div class="card" v-for="file in files" :class="{'is-selected':file.checked}">
                <p @click="file.checked = !file.checked" class="is-clickable">
                    <b-icon :icon="file.checked?'checkbox-marked-outline':'checkbox-blank-outline'"></b-icon>
                </p>
                <p>{{file.name}}</p>
                <p>{{JSON.stringify(file)}}</p>
                    <div class="field has-addons has-addons-right">
                        <div class="control">
                            <button class="button is-small">Rename</button>
                        </div>
                        <div class="control">
                            <button class="button is-small">Download</button>
                        </div>
                        <div class="control">
                            <button class="button is-small">View</button>
                        </div>
                    </div>
        </div>
    </div>
</template>

<script>
    export default {
        computed: {
            folders(){
                return this.$store.state.files.folders;
            },
            files(){
                return this.$store.state.files.files;
            }
        }
    }
</script>