<template>
    <tr :class="{'is-selected':checked}">
        <td @click="checked = !checked" class="is-clickable">
            <b-icon :icon="checked?'checkbox-marked-outline':'checkbox-blank-outline'"></b-icon>
        </td>
        <td>{{folder.name}}</td>
        <td @dblclick="open" class="is-clickable is-unselectable" title="Double-click to open">
            <b-icon icon="folder"></b-icon> <span>Folder</span>
        </td>
        <td>
        </td>
    </tr>
</template>

<script>
    let orders = [];
    export default {
        props: ['folder'],
        computed: {
            checked:{
                get(){
                    return this.folder.checked;
                },
                set(checked){
                    this.$store.commit('files/check',{folders:[this.folder],checked});
                }
            },
        },
        methods: {
            open(){
                this.$store.dispatch('files/loadFolder',this.folder.path);
            }
        }
    }
</script>