<template>
    <lf-editable-area class="larafish-component" :editable="editingThis" :content.sync="text" :changed="changed">
        <template v-slot:controlbar>
            <button class="button" @click="save" v-if="changed">
                <b-icon icon="content-save"></b-icon>
            </button>
            <button class="button " @click="reset" v-if="changed" title="Reset changes">
                <b-icon icon="restore"></b-icon>
            </button>
            <button class="button " @click="toggleLocalEdit" v-if="!editing">
                <b-icon :icon="localEdit?'cancel':'pencil'"></b-icon>
            </button>
        </template>
        <slot></slot>
    </lf-editable-area>
</template>

<script>
    import LarafishComponent from '@/mixins/larafishComponent';

    export default {
        mixins: [LarafishComponent],
        data(){
            return {
                localEdit: false,
            }
        },
        computed: {
            editingThis(){
                return this.localEdit || this.editing;
            },
            text:{
                get(){
                    return this.ready ? this.data.text : '';
                },
                set(newValue,oldValue){
                    this.update({text:newValue});
                }
            },
        },
        methods: {
            toggleLocalEdit(){
                this.localEdit = !this.localEdit;
            },
        },
    }
</script>