<template>
    <lf-editable-area class="larafish-component" :editable="editing" :content.sync="text" :changed="changed">
        <slot></slot>
    </lf-editable-area>
</template>

<script>
    import LarafishComponent from '@/mixins/larafishComponent';

    export default {
        mixins: [LarafishComponent],
        props: {
            dataSlot: {
                type:String,
                default:'text'
            }
        },
        computed: {
            text:{
                get(){
                    return this.ready ? this.data[this.dataSlot] : '';
                },
                set(newValue,oldValue){
                    this.update({[this.dataSlot]:newValue});
                }
            },
        },
    }
</script>