<template>
    <div>
        <slot :data="data" :bowls="bowls"></slot>
    </div>
</template>

<script>
    import LarafishComponent from '@/mixins/larafishComponent';
    export default {
        mixins: [LarafishComponent],
    }
</script>