<template>
    <div class="is-relative">
        <b-loading :is-full-page="false" :active.sync="loadingPreview"></b-loading>
        <button class="button is-primary is-top-right" v-if="!formSelect" @click="formSelect = true">
            <b-icon icon="pencil"></b-icon>
        </button>
        <div class="field" v-else>
            <div class="field has-addons">
                <div class="control">
                    <label class="button is-static">Form</label>
                </div>
                <div class="control is-expanded">
                    <div class="select is-fullwidth">
                        <select v-model="formPreviewSelect">
                            <option :value="false"> - Select - </option>
                            <option v-for="form in availableForms" :value="form.id">{{form.title}}</option>
                        </select>
                    </div>
                </div>
                <template v-if="changed">
                    <div class="control">
                        <button class="button" @click="resetPreview"><b-icon icon="restore"></b-icon></button>
                    </div>
                    <div class="control">
                        <button class="button" @click="saveForm">
                            <b-icon icon="content-save"></b-icon>
                        </button>
                    </div>
                </template>
                <div class="control">
                    <button class="button" @click="formSelect = false">
                        <b-icon icon="cancel"></b-icon>
                    </button>
                </div>
            </div>
            <p v-if="(preview || slotOverride) && component.formId" class="help">Note: this form preview may not function correctly until the page is saved and reloaded.</p>
        </div>
        <div v-if="!preview && !slotOverride">
            <slot></slot>
        </div>
        <div v-else v-html="preview?preview:slotOverride"></div>
    </div>
</template>

<script>
    import LarafishComponent from '@/mixins/larafishComponent';
    export default {
        mixins: [LarafishComponent],
        data(){
            return {
                formSelect: false,
            };
        },
        props: ['initialFormId'],
        components: {
            // MediumEditor
        },
        computed: {
            // Editing properties
            ..._.mapValues(_.keyBy([
                'preview',
                'slotOverride',
                'loadingPreview',
                'formPreviewSelect'
            ]),property=>({
                get(){return this.ready ? _.get(this.component.editing, property,false) : false;},
                set(value){this.edit({[property]:value});}
            })),
            availableForms(){
                return this.ready ? this.data.availableForms : [];
            },
            selectedForm(){
                return this.ready ? this.data.formId : null;
            },
            formPreviewSelect: {
                get(){return this.ready ? _.get(this.component.editing, 'formPreviewSelect',this.data.formId) : false;},
                set(formPreviewSelect){
                    this.edit({formPreviewSelect});
                    this.loadPreview();
                }
            }
        },
        methods: {
            loadPreview(){
                let formId = this.formPreviewSelect;
                this.update({formId});
                if(formId){
                    if(formId === this.initialFormId){
                        this.preview = false;
                        this.slotOverride = false;
                    } else {
                        this.loadingPreview = true;
                        axios.get('/admin/forms/'+formId)
                            .then(response=>{
                                this.preview = response.data;
                            })
                            .catch((error)=> {
                                // handle error
                                console.log(error);
                                this.$buefy.snackbar.open({
                                    message: 'Failed to load form preview.',
                                    type: 'is-danger',
                                    position: 'is-top',
                                    indefinite: false,
                                })
                            })
                            .finally(()=>this.loadingPreview = false);
                    }
                } else {
                    this.preview = '<h1 class="is-size-1">- No form selected -</h1>';
                }
            },
            resetPreview(){
                this.preview = false;
                this.reset();
            },
            saveForm(){
                this.save();
                this.slotOverride = this.preview;
                this.preview = false;
            }
        },
    }
</script>