<template>
    <div>
        <p @click="openBio = !openBio" class="button">Bio</p>
        <micro-modal :open.sync="openBio" size="half">
            <template v-slot:header>Full Bio</template>
            <div class="has-margin-top-size-4">
                {{ bio }}
            </div>
        </micro-modal>
    </div>
</template>

<script>
    export default {
        name: 'lfModal',
        props: ['bio'],
        data() {
            return {
                openBio: false,
            };
        },
    }
</script>
