<template>
    <div>
        <slot v-if="!ready"></slot>
        <template v-else>
            <staff-person v-for="person in people" :key="person.id" :person="person" @update:person="updatePerson"
                                  @selectImage="startImageSelection" @remove="removePerson(person)">
            </staff-person>
            <button class="button is-primary" @click="addPerson" v-if="!addingPerson">
                <b-icon icon="plus"></b-icon>
                <span>Add {{people.length === 0 ? 'a' : 'another'}} person</span>
            </button>
            <staff-person new :person="addingPerson" v-if="addingPerson" @selectImage="startImageSelection" @update:person="storePerson" @cancel="addingPerson = false"></staff-person>
        </template>
        <micro-modal :open.sync="selectingImage" size="full">
            <template v-slot:header>Select Image</template>
            <div class="has-margin-top-size-4">
                <lf-file-manager class="w-full" v-if="selectingImage" select select-image select-path @selected="imageSelected"></lf-file-manager>
            </div>
        </micro-modal>
    </div>
</template>

<script>
    import LarafishComponent from '@/mixins/larafishComponent';
    export default {
        mixins: [LarafishComponent],
        data(){
            return {
                selectImageCallback: null,
                addingPerson: false,
            };
        },
        computed: {
            selectingImage:{
                get(){
                    return this.selectImageCallback !== null;
                },
                set(value){
                    if(!value) this.selectImageCallback = null;
                }
            },
            people(){
                return this.ready ? this.data.people : [];
            }
        },
        methods: {
            addPerson(){
                this.addingPerson = this.blankStaff();
            },
            storePerson(person){
                let people = [...this.people,person];
                this.update({people});
                this.addingPerson = false;
            },
            updatePerson(person){
                console.log(person,this.people);
                let people = [...this.people];
                console.log(people);
                console.log(people.splice(_.findIndex(this.people,{id:person.id}),1,person));
                console.log(people);
                this.update({people});
            },
            blankStaff(){
                return {
                    id:('00000000'+Math.random().toString(32).slice(2)).slice(-8),
                    name:'',
                    title:'',
                    location:'',
                    department: '',
                    phone:'',
                    email:'',
                    imageUrl:null,
                    bio:'',
                    altText: ''
                }
            },
            removePerson(person){
                let people = _.reject(this.people,person);
                this.update({people});
            },
            imageSelected(path){
                this.selectImageCallback(path);
                this.selectImageCallback = null;
            },
            startImageSelection(resolutionFunction){
                this.selectImageCallback = resolutionFunction;
            }
        }
    }
</script>
