<template>
    <div class="larafish-component is-relative" :class="{'has-changes':changed}">
        <lf-control-bar class=" is-flex is-flex-space-between">
            <span>
                <span v-if="editingThis">
                    <button class="button" :class="{'is-primary':inContainer}" @click="inContainer = !inContainer" title="Allow the table to scroll when wider than the viewport">
                        <b-icon icon="arrow-left-right"></b-icon>
                        <span>Scrollable</span>
                    </button>
                    <button class="button" :class="{'is-primary':fullwidthTable}" @click="fullwidthTable = !fullwidthTable">
                        <b-icon icon="arrow-expand-horizontal"></b-icon>
                        <span>Fullwidth</span>
                    </button>
                    <button class="button" :class="{'is-primary':borderedTable}" @click="borderedTable = !borderedTable">
                        <b-icon icon="table-border"></b-icon>
                        <span>Bordered</span>
                    </button>
                    <button class="button" :class="{'is-primary':stripedTable}" @click="stripedTable = !stripedTable">
                        <b-icon icon="table-row"></b-icon>
                        <span>Striped</span>
                    </button>
                    <button class="button" :class="{'is-primary':narrowTable}" @click="narrowTable = !narrowTable">
                        <b-icon icon="arrow-collapse-vertical"></b-icon>
                        <span>Narrow</span>
                    </button>
                    <button class="button" :class="{'is-primary':hoverableTable}" @click="hoverableTable = !hoverableTable">
                        <b-icon icon="arrow-collapse-vertical"></b-icon>
                        <span>Hoverable</span>
                    </button>
                </span>
            </span>
            <span>
                <button class="button" @click="save" v-if="changed">
                    <b-icon icon="content-save"></b-icon>
                </button>
                <button class="button" @click="reset" v-if="changed" title="Reset changes">
                    <b-icon icon="restore"></b-icon>
                </button>
                <button class="button" @click="toggleLocalEdit" v-if="!editing">
                    <b-icon :icon="localEdit?'cancel':'table-edit'"></b-icon>
                </button>
            </span>
        </lf-control-bar>
        <slot v-if="!ready"></slot>
        <div v-else :class="{'table-container':inContainer}">
            <table class="table" :class="tableClasses.join(' ')">
                <thead>
                <tr>
                    <th v-for="(column,index) in columns" :class="column.classes.join(' ')" class="is-relative has-control-bar">
                        <!--                            <div class="component-control-bar hangs-below" v-if="editingThis">-->
                        <!--                                <button class="button" @click="removeColumn(index)">-->
                        <!--                                    <b-icon icon="table-column-remove"></b-icon>-->
                        <!--                                    <span>Remove Column</span>-->
                        <!--                                </button>-->
                        <!--                            </div>-->
                        <lf-editable-area :editable="editingThis" :content="column.title" @update:content="updateColumnHeader(index,$event)">
                            <template v-slot:controlbar>
                                <button class="button" @click="removeColumn(index)">
                                    <b-icon icon="table-column-remove"></b-icon>
                                    <span>Remove Column</span>
                                </button>
                            </template>
                        </lf-editable-area>
                        <!--                            <span v-if="!editingThis">{{column.title}}</span>-->
                        <!--                            <div v-else class="field">-->
                        <!--                                <input class="input" v-model="column.title">-->
                        <!--                            </div>-->
                    </th>
                    <th v-if="editingThis" class="has-text-right" style="width:1px">
                        <button class="button" @click="addColumn" v-if="editingThis">
                            <b-icon icon="table-column-plus-after"></b-icon>
                            <span>Add column</span>
                        </button>
                    </th>
                </tr>
                </thead>
                <tfoot>
                <tr v-if="editingThis"><td :colspan="columns.length">
                    <button class="button" @click="addRow">
                        <b-icon icon="table-row-plus-after"></b-icon>
                        <span>Add Row</span>
                    </button>
                </td></tr>
                </tfoot>
                <tbody>
                <tr v-for="(row,rowIndex) in rows">
                    <td v-for="(cell,cellIndex) in row" :colspan="cell.colspan||false">
                        <!--                        <div class="component-control-bar" v-if="editingThis">-->
                        <!--                            <button class="button" @click="editSource(rowIndex,cellIndex)">-->
                        <!--                                <b-icon icon="code-tags"></b-icon>-->
                        <!--                                <span>Source</span>-->
                        <!--                            </button>-->
                        <!--                        </div>-->
                        <lf-table-cell :editable="editingThis" :row-index="rowIndex" :column-index="cellIndex" :cell="cell" :component="component" @update:content="updateCellContent(rowIndex,cellIndex,$event)" @edit="edit($event)"></lf-table-cell>
                        <!--                        <lf-editable-area :changed="changed" :content="cell.contents" @update:content="updateCellContent(rowIndex,cellIndex,$event)" :editable="editingThis">-->

                        <!--                        </lf-editable-area>-->
                    </td>
                    <td v-if="editingThis" class="has-text-right">
                        <button class="button" @click="removeRow(rowIndex)">
                            <b-icon icon="table-row-remove"></b-icon>
                            <span>Remove Row</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal :active.sync="sourceOpen" has-modal-card full-screen>
            <lf-content-area-source :text.sync='cellSource'></lf-content-area-source>
        </b-modal>
    </div>
</template>

<script>
    import LarafishComponent from '@/mixins/larafishComponent';
    import BIcon from "buefy/src/components/icon/Icon";
    import LfContentAreaSource from "./subcomponents/lfContentAreaSource";
    import LfTableCell from "./subcomponents/lfTableCell";
    import LfEditableArea from "./subcomponents/lfEditableArea";
    export default {
        components: {LfEditableArea, LfTableCell, LfContentAreaSource, BIcon},
        mixins: [LarafishComponent],
        data(){
            return {
                editingCellSource:null,
                localEdit: false,
            }
        },
        computed: {
            ..._.mapValues(_.keyBy(['inContainer','columns','rows']),property=>({
                get:function(){return this.ready ? this.data[property] : null;},
                set:function(value){this.update({[property]:value});}
            })),
            tableClasses:{
                get:function(){return this.ready ? this.data.tableClasses : '';},
                set:function(tableClasses){this.update({tableClasses});}
            },
            ..._.mapValues(_.keyBy(['is-bordered','is-striped','is-narrow','is-hoverable','is-fullwidth'],cssClass=>cssClass.slice(3)+'Table'),cssClass=>({
                get:function(){return this.tableClasses.indexOf(cssClass) > -1;},
                set: function(value) {
                    if (value) {
                        this.tableClasses = [..._.union(this.tableClasses, [cssClass])];
                    } else {
                        let index = this.tableClasses.indexOf(cssClass);
                        if(index > -1){
                            let classes = this.tableClasses;
                            classes.splice(index,1);
                            this.tableClasses = [...classes];
                        }
                    }
                }
            })),
            editingThis(){
                return this.localEdit || this.editing;
            },
            sourceOpen: {
                get(){return this.editingCellSource !== null;},
                set(value){if(!value)this.editingCellSource = null;}
            },
            cellSource:{
                get(){
                    if(this.editingCellSource){
                        let ri = this.editingCellSource.row;
                        let ci = this.editingCellSource.col;
                        if(this.rows[ri] === undefined || this.rows[ri][ci] === undefined){
                            this.editingCellSource = null;
                            return '';
                        }
                        return this.rows[ri][ci].contents;
                    }
                },
                set(value){
                    if(this.editingCellSource){
                        this.updateCellContent(this.editingCellSource.row,this.editingCellSource.col,value);
                        this.editingCellSource = null;
                    }
                }
            }
        },
        methods: {
            editSource(row,col){
                this.editingCellSource = {row,col};
            },
            addColumn(){
                let columns = this.columns;
                columns.push({title:'Column'+(this.columns.length + 1),classes:['bg-bank-mid-green text-white']});
                this.columns = columns;
                let rows = this.rows;
                _.each(rows,(row,index)=>row.push({contents:'<p>Cell'+(index+1)+'x'+(this.columns.length)+'</p>'}));
                this.rows = rows;
            },
            addRow(){
                let newRow = _.map(this.columns,(column,index)=>({contents:'<p>Cell'+(this.rows.length+1)+'x'+(index+1)+'</p>'}));
                let rows = this.rows;
                rows.push(newRow);
                this.rows = rows;
            },
            updateCellContent(ri,ci,contents){
                let rows = this.rows;
                rows[ri][ci].contents = contents;
                this.rows = rows;
            },
            removeRow(index){
                let rows = this.rows;
                rows.splice(index,1);
                this.rows = rows;
            },
            updateColumnHeader(index,contents){
                let columns = this.columns;
                columns[index].title = contents;
                this.columns = columns;
            },
            removeColumn(index){
                let rows = this.rows;
                _.each(rows,row=>row.splice(index,1));
                this.rows = rows;
                let columns = this.columns;
                columns.splice(index,1);
                this.columns = columns;
            },
            toggleLocalEdit(){
                this.localEdit = !this.localEdit;
            },
        }
    }
</script>
