<template>
    <div>
        <h4 class="is-4 title">Whitelisted Domains</h4>
        <p>The URLs listed below will not trigger a speed bump notification. Only include the protocol and domain - do not include
        any URL paths. Correct usage should look like this: <b>www.yahoo.com</b>. If URL doesn't include www, then it should be only
        <b>yahoo.com</b>. Do not include the protocol (https:// or http://) in URL.</p>
        <p>For sub domains like https://olb.thebankofbennington.com, no protocol is required. So it'd be olb.thebankofbennington.com</p>
        <p>Note: Speed Bump notifications only trigger on the public side of the website.</p>
        <div class="columns pt-6">
            <div class="column is-half">
                <form @submit.prevent="addDomain" class="field is-flex h-full">
                    <input v-model="newDomain" placeholder="www.yahoo.com and/or yahoo.com" type="text" class="input h-full">
                    <button class="button is-primary" :class="{'is-loading': loading}">Add</button>
                </form>
            </div>
        </div>
        <div class="columns" v-if="domains.length">
            <div class="column is-fullwidth">
                <div class="field" v-for="(domain, key) in domains">
                    <a :href="domain">{{domain}}</a>
                    <span @click="removeDomain(key)">
                        <b-icon class="cursor-pointer" icon="delete" size="is-small" />
                    </span>
                </div>
            </div>
        </div>
        <p v-else>No whitelisted domains.</p>
    </div>
</template>
<script>
    import { SnackbarProgrammatic as Snackbar } from 'buefy';
    export default {
        name: 'EditSpeedBump',
        props: {
            whitelist: {
              type: Array,
              default: []
          }
        },
        data() {
            return {
                newDomain: null,
                domains: [],
                loading: false
            }
        },
        methods: {
            addDomain() {
                this.loading = true;
                axios.post('/admin/speedbump', {domain: this.newDomain})
                    .then((data) => {
                        const response = data.data;
                        if(response.success) {
                            Snackbar.open({
                                message: 'Domain added to whitelist!',
                                type: 'is-success',
                                position: 'is-top',
                                indefinite: false,
                            });
                            this.domains.push(response.domain);
                            this.newDomain = '';
                        } else {
                            Snackbar.open({
                                message: response.error,
                                type: 'is-danger',
                                position: 'is-top',
                                indefinite: false,
                            });
                        }
                    })
                    .catch(error => {
                        Snackbar.open({
                            message: 'Something went wrong!',
                            type: 'is-danger',
                            position: 'is-top',
                            indefinite: false,
                        });
                    })
                    .finally(() => {
                        this.loading = false;
                    });
            },
            removeDomain(key) {
                axios.delete('/admin/speedbump/' + key, {params: {domain: this.domains[key]}})
                    .then((data) => {
                        if(data.data.success) {
                            Snackbar.open({
                                message: 'Domain removed from whitelist!',
                                type: 'is-success',
                                position: 'is-top',
                                indefinite: false,
                            });
                            this.domains.splice(key, 1);
                        }
                    })
                    .catch(error => {
                        Snackbar.open({
                            message: 'Something went wrong!',
                            type: 'is-danger',
                            position: 'is-top',
                            indefinite: false,
                        });
                        console.log(error);
                    })
            }
        },
        mounted() {
            if(this.whitelist) this.domains = this.whitelist;
        }
    }
</script>