<template>
    <fieldset v-if="meetsConditions">
        <slot></slot>
    </fieldset>
</template>
<script>
    export default {
        props: {
            dataConditions: String
        },
        data(){
            return {
                conditions: JSON.parse(this.dataConditions),
            }
        },
        computed:{
            meetsConditions(){
                return this.group(this.conditions);
            }
        },
        methods:{
            maybeNot(value,not){
                return not? !value : value;
            },
            group({conditions,operation,not}){
                let operator = {and:'every',or:'some'}[operation];
                let truth = conditions[operator](condition=>{
                    let evaluate = this[condition.type]; // type is field or group.
                    return evaluate(condition);
                });
                return this.maybeNot(truth,not);
            },
            field({fieldName,not,operation,value}){
                let field = this.$store.getters['form/field'](fieldName);
                if(!field) return false;
                let truth = this.fieldOperation(field,operation,value);
                return this.maybeNot(truth,not);
            },
            dateStringToDate(dateString){
                let date = dateString.split('-');
                return new Date(date[0],date[1]-1,date[2]);
            },
            timeStringToNumber(timeString){
                let time = timeString.split(':');
                return Number(time[0]) * 60 + Number(time[1]);
            },
            fieldAsNumber(value,type){
                if(type === 'date') return Number(this.dateStringToDate(value));
                else if (type === 'time') return this.timeStringToNumber(value);
                else return Number(value);
            },
            fieldOperation(field,operation,value){
                switch(operation){
                    case 'in':
                        return value.some(val=>val.toLowerCase() === field.value.toLowerCase());
                    case 'contains':
                        return field.value.toLowerCase().indexOf(value.toLowerCase()) > -1;
                    case '<':
                        return this.fieldAsNumber(field.value,field.type) < this.fieldAsNumber(value,field.type);
                    case '<=':
                        return this.fieldAsNumber(field.value,field.type) <= this.fieldAsNumber(value,field.type);
                    case '>':
                        return this.fieldAsNumber(field.value,field.type) > this.fieldAsNumber(value,field.type);
                    case '>=':
                        return this.fieldAsNumber(field.value,field.type) >= this.fieldAsNumber(value,field.type);
                    case 'between':
                        return this.fieldAsNumber(field.value,field.type) > this.fieldAsNumber(value[0],field.type) &&
                            this.fieldAsNumber(field.value,field.type) < this.fieldAsNumber(value[1],field.type);
                    case '=':
                        switch(field.type){
                            case 'radios':
                            case 'dropdown':
                            case 'date':
                            case 'time':
                               return field.value === value;
                            default:
                                return field.value.toLowerCase() === value.toLowerCase();
                        }
                    case 'empty':
                        return !field.value ||
                            (typeof(field.value) === 'string' && field.value.trim().length === 0) ||
                            (Array.isArray(field.value) && field.value.length === 0);
                    case 'checked':
                        return value.every(check=>field.value.indexOf(check) > -1);
                }
            }
        }
    }
</script>