<template>
    <flat-pickr v-model="value" :config="config"></flat-pickr>
</template>
<script>
    import InputValueMixin from '@/mixins/form-input-value-mixin';
    import FlatPickr from "vue-flatpickr-component/src/component";
    export default {
        components: {FlatPickr},
        mixins:[InputValueMixin],
        data(){
            return {
                config:{
                    wrap:true,
                    enableTime: true,
                    noCalendar: true,
                    dateFormat: "H:i",
                    altInput: true,
                    altFormat: "h:i K",
                }
            }
        },
        // computed:{
        //     value: {
        //         get(){
        //             if(this.field && this.field.value){
        //                 return this.field.value;
        //             }
        //             return this.startingValue;
        //         },
        //         set(value){
        //             this.$store.commit('setField',{name:this.name,value});
        //         }
        //     },
        // }
    }
</script>