<template>
    <input v-model="value">
</template>
<script>
    import InputValueMixin from '@/mixins/form-input-value-mixin';
    export default {
        mixins:[InputValueMixin],
        data(){
            return {
                startingValue:this.dataOldValue||'',
            };
        }
    }
</script>