<template>
    <div>
        <div class="control" v-for="option in options" v-if="field">
            <label :class="type">
                <input :type="type" :name="inputName" :value="option.id" :required="required" v-model="value">
                <span>{{option.name}}</span>
            </label>
        </div>
        <slot v-else></slot>
    </div>
</template>
<script>
    import InputValueMixin from '@/mixins/form-input-value-mixin';
    export default {
        mixins:[InputValueMixin],
        data(){
            return {
                startingValue:this.dataOldValue?JSON.parse(this.dataOldValue):[],
            }
        },
        computed:{
            inputName(){
                return this.name + (this.field.type === 'checkboxes'?'[]':'');
            },
            options(){
                return this.field?this.field.options:[];
            },
            type(){
                return {checkboxes:'checkbox',radios:'radio'}[this.field.type];
            }
        }
    }
</script>