<template>
    <textarea v-model="value"></textarea>
</template>
<script>
    import InputValueMixin from '@/mixins/form-input-value-mixin';
    export default {
        mixins:[InputValueMixin],
    }
</script>