<template>
    <select v-model="value">
        <slot></slot>
    </select>
</template>
<script>
    import InputValueMixin from '@/mixins/form-input-value-mixin';
    export default {
        mixins:[InputValueMixin],
    }
</script>