<template>
    <table class="table is-fullwidth is-striped">
        <thead>
        <tr>
            <th>Button Text</th>
            <th>Button URL</th>
            <th>Active</th>
            <th></th>
        </tr>
        </thead>
        <draggable tag="tbody" v-model="loginLinks" group="links" @start="drag=true" @end="onMove">
        <tr v-for="link in loginLinks" class="cursor-pointer">
            <td>{{ link.button_text }}</td>
            <td>{{ link.button_url }}</td>
            <td>{{ link.active ? 'Yes' : 'No' }}</td>
            <td>
                <div class="buttons is-right">
                    <a class="button is-primary is-small is-family-primary"
                       :href="'/admin/login-links/'+link.id+'/edit'">
                        <span class="icon"><i class="mdi mdi-bookmark mdi-16-px"></i></span>
                        <span>Edit</span>
                    </a>
                </div>
            </td>
        </tr>
        <tr v-if="!loginLinks.length"><td colspan="2" class="has-text-centered"><h2>No Login Links found</h2></td></tr>
        </draggable>
    </table>
</template>
<script>
    import draggable from 'vuedraggable';
    import { SnackbarProgrammatic as Snackbar } from 'buefy';
    export default {
        components: {draggable,},
        props: {
            links: {
                type: Array,
                default: []
            }
        },
        data() {
            return {
                loginLinks: []
            }
        },
        methods: {
            onMove() {
                axios.post('/admin/login-links/sort', {links: this.loginLinks})
                    .then((data) => {
                        if(data.data.success) {
                            Snackbar.open({
                                message: 'Login Links Sort Order Changed!',
                                type: 'is-success',
                                position: 'is-top',
                                indefinite: false,
                            });
                        }
                    })
                    .catch(error => {
                        Snackbar.open({
                            message: 'Something went wrong with sorting!',
                            type: 'is-danger',
                            position: 'is-top',
                            indefinite: false,
                        });
                        console.log(error);
                    })
            }
        },
        mounted() {
            this.loginLinks = this.links;
        }
    }
</script>