<template>
    <table class="table is-fullwidth is-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Active</th>
            <th></th>
        </tr>
        </thead>
            <draggable tag="tbody" v-model="cardData" group="cards" @start="drag=true" @end="onMove">
                <tr v-for="card in cardData" class="cursor-pointer">
                    <td>{{ card.title }}</td>
                    <td>{{ card.content }}</td>
                    <td>{{ card.active ? 'Yes' : 'No' }}</td>
                    <td>
                        <div class="buttons is-right">
                            <a class="button is-primary is-small is-family-primary"
                               :href="'/admin/home-cards/' + card.id + '/edit'">
                                <span class="icon"><i class="mdi mdi-bookmark mdi-16-px"></i></span>
                                <span>Edit</span>
                            </a>
                        </div>
                    </td>
                </tr>
            </draggable>
        <tr v-if="!cards.length"><td colspan="3" class="has-text-centered"><h2>No Home Cards found</h2></td></tr>
    </table>
</template>
<script>
    import draggable from 'vuedraggable';
    import { SnackbarProgrammatic as Snackbar } from 'buefy';
    export default {
        components: {draggable,},
        props: {
            cards: {
                type: Array,
                default: []
            }
        },
        data() {
            return {
                cardData: []
            }
        },
        methods: {
            onMove() {
                axios.post('/admin/home-cards/sort', {cards: this.cardData})
                    .then((data) => {
                        if(data.data.success) {
                            Snackbar.open({
                                message: 'Home Cards Sort Order Changed!',
                                type: 'is-success',
                                position: 'is-top',
                                indefinite: false,
                            });
                        }
                    })
                    .catch(error => {
                        Snackbar.open({
                            message: 'Something went wrong with sorting!',
                            type: 'is-danger',
                            position: 'is-top',
                            indefinite: false,
                        });
                        console.log(error);
                    })
            }
        },
        mounted() {
            this.cardData = this.cards;
        }
    }
</script>