<!--
    Navbar dropdown

    Handles bulma navbar dropdown elements
-->
<template>
    <div class="navbar-item has-dropdown" :class="wrapperClasses">
        <a class="navbar-link" @click="open = !open">
            <slot name="trigger"></slot>
        </a>
        <div class="navbar-dropdown" :class="{'is-right':this.isRight}">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            isHoverable:Boolean,
            isUp: Boolean,
            isRight: Boolean,
        },
        data(){
            return {
                open: false,
            }
        },
        computed: {
            wrapperClasses(){
                return {
                    'is-hoverable':this.isHoverable,
                    'has-dropdown-up':this.isUp,
                    'is-active':this.open
                };
            },
        }
    }
</script>