<!--
    Navbar

    Handles bulma navbar elements
-->
<template>
    <nav class="navbar" role="navigation" aria-label="navigation">
        <div class="navbar-brand">
            <slot name="brand"></slot>
            <a v-if="hasBurger" role="button" class="navbar-burger" :class="burgerClasses" aria-label="menu" :aria-expanded="burgerOpen" @click="burgerOpen = !burgerOpen">
                <slot name="burger">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </slot>
            </a>
        </div>

        <div class="navbar-menu" :class="{'is-active':burgerOpen}">
            <div class="navbar-start">
                <slot name="start"></slot>
            </div>

            <div class="navbar-end">
                <slot name="end"></slot>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        props: {
            hasBurger: Boolean,
            isNotDefaultBurger: Boolean,
        },
        data(){
            return {
                burgerOpen: false
            }
        },
        computed: {
            burgerClasses(){
                return {
                    burger: !this.isNotDefaultBurger,
                    'is-active': this.burgerOpen,
                }
            }
        }
    }
</script>