<template>
    <div>
        <micro-modal :open.sync="openingLogin" size="half">
            <template v-slot:header>
                <span class="font-bold text-3.5xl text-bank-dark-green leading-10">Account Login</span>
            </template>
                <div class="grid grid-cols-1 lg:grid-cols-2 md:gap-5 gap-3 my-6">
                    <template v-for="link in links">
                        <a :href="link.button_url"
                           target="_blank"
                           class="transparent-login-btn">
                            {{link.button_text}}
                        </a>
                    </template>
                </div>
        </micro-modal>
    </div>
</template>
<script>
    import SpeedBump from '@/mixins/SpeedBump';
    export default {
        mixins: [SpeedBump],
        props: {
            links: {
                type: Array,
                default: []
            }
        },
        data(){
            return {
                showModal: null,
            };
        },
        computed: {
            openingLogin: {
                get() {
                    return this.showModal !== null;
                },
                set(value) {
                    if (!value) this.showModal = null;
                }
            },
        },
        methods: {
            openModal(resolutionFunction) {
                this.showModal = resolutionFunction;
                // setTimeout(() => {
                //     this.initializeSpeedBump();
                // }, 1000);
            }
        },
        mounted() {
            if(this.links.length) {
                const loginBtn = document.querySelector('.login-btn');
                loginBtn.addEventListener('click', () => this.openModal());
            }
        }
    }
</script>