<template>
    <div class="modal micromodal-slide" :id="modalId" aria-hidden="true">
        <section class="modal-overlay" tabindex="-1" data-micromodal-close @click="clickBackground" ref="background">
            <article :class="sizeClasses" role="dialog" aria-modal="true" :aria-labelledby="modalId+'-title'">
                <div class="is-flex is-flex-column is-clipped is-fullwidth">
                    <header class="modal-overlay-container-header">
                        <h4 class="modal-overlay-container-header-title" :id="modalId+'-title'">
                            <slot name="header" v-if="open"></slot>
                        </h4>
                    </header>

                    <div class="modal-overlay-container-content" :id="modalId+'-content'">
                        <slot v-if="open"></slot>
                    </div>

                    <button class="close-modal btn" tabindex="0" aria-label="Close modal" data-micromodal-close></button>
                </div>
            </article>
        </section>
    </div>
</template>

<script>
    import scopedId from '@/mixins/scopedId'
    import MicroModal from 'micromodal'
    export default {
        mixins: [scopedId],
        props: {
            open:{
                type: Boolean,
                default: false,
            },
            settings:{
                type: Object,
                default(){return {}},
            },
            size: {
                type: String,
                default: 'half',
            }
        },
        data() {
            return {
                isOpen: false,
                placeholder: null,
            }
        },
        mounted(){
            if(this.open) this.openModal();
        },
        watch: {
            open(newValue,oldValue){
                if(newValue) this.openModal();
                else this.closeModal();
            }
        },
        computed:{
            modalId(){
                return this.id('modal');
            },
            modalSettings(){
                return _.defaults({
                    disableScroll: false
                    // Scroll *is* disabled, but via adding class 'is-clipped' to the document.documentElement,
                    // instead of applying "height:100vh;overflow:hidden" to the body as micromodal defaults to.
                },this.settings,{
                    // onShow: modal => null,
                    onClose: modal=>{
                        this.$emit('update:open',false);
                        this.$nextTick(()=>{
                            if(this.open) this.openModal();
                        });
                    },
                    // disableFocus: false,
                    // awaitCloseAnimation: false,
                    // debugMode: true
                });
            },
            sizeClasses(){
                switch(this.size){
                    case 'full':
                        return 'modal-overlay-container-full';
                    case 'small':
                        return 'modal-overlay-container-small modal-overlay-container-full-on-mobile';
                    case 'half':
                    default:
                        return 'modal-overlay-container-half modal-overlay-container-full-on-mobile';
                }
            }
        },
        methods:{
            openModal(){
                this.placeholder = document.createElement('div');
                this.$el.insertAdjacentElement('afterend',this.placeholder);
                MicroModal.show(this.modalId,this.modalSettings);
                document.body.appendChild(this.$el);
                document.documentElement.classList.add('is-clipped');
            },
            closeModal(){
                this.placeholder.insertAdjacentElement('afterend',this.$el);
                this.placeholder.parentNode.removeChild(this.placeholder);
                this.placeholder = null;
                MicroModal.close();
                document.documentElement.classList.remove('is-clipped');
            },
            clickBackground(event){
                if(event.target === this.$refs.background){
                    this.$emit('update:open',false);
                }
            },
        }
    }
</script>
