<template>
    <div>
        <micro-modal :open.sync="openingLogin" size="half">
            <template v-slot:header>
                <span class="font-bold text-3.5xl text-bank-dark-green leading-10">External Redirect Notice</span>
            </template>
            <p>The link you have selected is located on another server.
                You have chosen to leave The Bank of Bennington website and enter a separate and unaffiliated website.
                The Bank of Bennington does not necessarily agree with the views expressed in separate websites, nor does
                The Bank of Bennington attest to the accuracy of the information on separate websites.
                The Bank of Bennington's Privacy and Information Security Policies do not apply to any separate websites.
            </p>
            <br>
<!--            <p>You will now be directed to: <a target="_blank" class="text-bank-dark-green" :href="this.redirectLink">{{this.redirectLink}}</a></p>-->
            <p>Click OK to continue or Cancel to stay on The Bank of Bennington site.</p>
            <br>
            <div>
                <a target="_blank" class="button bg-bank-dark-green" :href="this.redirectLink">OK</a>
                <button @click="showModal = null" class="button bg-red-600 hover:bg-red-400">Cancel</button>
            </div>
        </micro-modal>
    </div>
</template>
<script>
    import SpeedBump from '@/mixins/SpeedBump';
    export default {
        mixins: [SpeedBump],
        props: {
          whitelist: {
              type: Array,
              default: []
          }
        },
        data(){
            return {
                showModal: null,
                redirectLink: null,
                domains: []
            };
        },
        computed: {
            openingLogin: {
                get() {
                    return this.showModal !== null;
                },
                set(value) {
                    if (!value) this.showModal = null;
                }
            },
        },
        methods: {
            openModal(e, resolutionFunction) {
                e.preventDefault();
                this.showModal = resolutionFunction;
                this.redirectLink = e.currentTarget.href;
            },
        },
        mounted() {
            this.domains = this.whitelist;
            this.initializeSpeedBump(this.domains);
        }
    }
</script>